[2019-03-29 17:15] dpaulino opened #1 "Feature request: multiple workspace support"
Ability to have multiple workspaces with different requests/collections/environment variables in each request.

[2019-03-29 17:16] dpaulino opened #2 "Feature request: backup data"
Some customers have requested having the ability to backup their Nightingale data to a file or perhaps back it up to OneDrive

[2019-03-29 17:18] dpaulino opened #3 "Feature request: Get value from response and add it to request"

[2019-03-29 17:21] dpaulino opened #4 "Receiving responses encoded with gzip doesn't show the Content-Encoding header"

[2019-04-03 06:54] hoilc opened #5 "Feature request: add changelog"
Hi,

I'm interested in new features of Nightingale. However Microsoft Store doesn't provide release information.

It could be nice to add 'Changelog' tab to 'Setting' panel.

Also a 'What's New' panel could pop up when new version of Nightingale launch for the first time.

Regards

[2019-04-03 15:44] dpaulino commented on #5
Thanks for creating an issue for this. The Microsoft Store seems to have a bug where the "what's new" section disappears for some apps. You can see on the webpage that we added an extensive change log, but I agree that it'd be even better to have this info in the app. It'll be added as soon as possible. Thanks again.
![image](https://user-images.githubusercontent.com/7649589/55492716-8a278780-55ec

[2019-04-08 02:29] mfrauenhoffer opened #6 "Significant lag on large resultset"
There is significant lag when trying to select and copy a text response that is large. The size of the result back is 362.279 KB; when trying to select a value from the response, Nightingale locks up and is not usable for a good several minutes. Currently consuming 400 MB of RAM and constantly using ~18% CPU on a Core i7 quad core machine with 32 GB of RAM.

[2019-04-08 06:20] dpaulino commented on #6
Thanks for reporting this. Out of curiosity, any chance I could get a sample text response that you were expecting back? Or perhaps I could get the endpoint you were using? If not, no worries. I can simulate it based on the size you described. Again, thanks for reporting. Going to investigate this further and report back my findings here.

[2019-04-08 22:18] mfrauenhoffer commented on #6
Unfortunately, I can't give you the response as it contains company information. I'm more than willing to share any additional information to help you reproduce and debug. Thank you! I love the tool so far!

[2019-04-10 02:44] dpaulino commented on #6
Spent a bit of time reproducing this, and it is indeed the similar to the issue that others have reported a few weeks back. Unfortunately no easy fix for this, since it seems that there are currently no UWP text controls capable of handling large text. Here's an issue related to trying to build a scalable text control: https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2858

Going t

[2019-04-13 06:45] dpaulino commented on #1
Work on this feature is compete and it will be available in a future update

[2019-04-13 06:45] #1 closed

[2019-04-21 19:37] dpaulino commented on #5
Work completed. This will be included in an upcoming update.

[2019-04-25 17:23] dpaulino commented on #6
There's a uservoice request for the platform team to build a UWP control that can handle large strings: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37090696-virtualized-richeditbox

Please help upvote it if you can @mfrauenhoffer

[2019-05-05 08:02] #5 closed

[2019-05-05 08:03] dpaulino commented on #2
Work completed. This will be available in an upcoming update

[2019-05-05 08:03] #2 closed

[2019-05-05 08:08] dpaulino opened #7 "Crash when Fetching oAuth token"
A customer reported a crash when pressing the fetch token button for OAuth 2.

[2019-05-12 00:58] dpaulino commented on #7
Crash is no longer occurring after the Nightingale 2.0 update

[2019-05-12 00:58] #7 closed

[2019-05-14 04:30] dpaulino commented on #6
We have added a fix for the crash. Essentially, we are checking the size of the response. If it passes 500kb, then we are blocking the rendering of the text. We will provide an option to download the response instead.

While this is not an elegant solution, it should suffice until Nightingale switches to a UI control that can handle large text.

This bug fix will be available in the next update.

[2019-05-14 14:11] mfrauenhoffer commented on #6
Thanks Daniel! I will try it out in the new build. I have also upvoted the UserVoice request as well!

[2019-05-14 15:11] dpaulino commented on #6
No problem. The new build has been deployed to our private preview group. If all goes well, it should be publicly available in a couple days

[2019-05-17 06:42] dpaulino commented on #6
The new build (v2.0.8) is now publicly available.

[2019-05-17 06:42] #6 closed

[2019-06-03 08:09] dpaulino commented on #3
Work completed. This will be available in an upcoming update.

[2019-06-03 08:09] #3 closed

[2019-07-02 16:15] drub0y opened #8 "Use environment variables to affect URL structure"
My REST API returns the URL of a newly created resource via the `Location` header which I can extract into an environment variable using the "Chains" feature, however it seems that you can only use environment variables inside the body and maybe even query values, but I can't just use it as part of the URL.

Here's the scenario I'm looking to achieve:

As a result of a `POST` in `Request A`, the s

[2019-07-02 19:32] dpaulino commented on #8
@drub0y thank you for alerting me of this bug. Environment variables should be working for URL, so it seems there's a regression here. I will investigate this asap.

[2019-07-03 04:32] dpaulino commented on #8
@drub0y After sending the `POST` to `Request A`, what value do you see in the "Manage Environment" view for the variable named `CurrentWhateverUrl`? Is the variable's value populated with the correct url string?

[2019-07-06 01:40] giometrix opened #9 "OAuth 2.0 Client Credentials Flow Failing"
From my reddit post:

Here is a screenshot from Postman:

![image](https://user-images.githubusercontent.com/13258728/60749784-20ad7100-9f6d-11e9-9343-1031ae76bdda.png)

And from Nightingdale:

![image](https://user-images.githubusercontent.com/13258728/60749799-4fc3e280-9f6d-11e9-973a-c131b8b31ea8.png)

Here is the error text:

[code]

[2019-07-06 20:19] dpaulino commented on #9
Hey there! Haven't seen this before. Looks like a regression when we launched v2. Thanks for reporting! Investigating this asap.

[2019-07-06 20:21] dpaulino commented on #8
Hey @drub0y, just wanted to check in again. I tried reproducing this error, but things seemed to work fine for me. I was able to use a variable in the URL text field and I was able to update that using a chain. Let me know your thoughts on my previous comment:

[2019-07-06 20:55] dpaulino commented on #9
Found the bug. The scope was not properly being added into the authentication request for the client credential flow. Thanks for spotting this! Just fixed this now and it'll be available in the next public release. If you're interested in trying out the fix sooner, feel free to sign up for the beta [here](https://forms.microsoft.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAQ

[2019-07-06 20:55] #9 closed

[2019-07-08 07:30] dpaulino commented on #9
@giometrix the fix is now available to preview members as v2.4.1. In case you signed up, let me know if you're encountering the issue still or if you see new/different problem. You may need to head to [Nightingale's store page](https://www.microsoft.com/en-us/p/nightingale-rest-api-client/9n2t6f9f5zdn) to force Windows to check for an update.

[2019-07-14 17:57] dpaulino commented on #8
I've been able to get reproduction steps for a similar bug to what you described, though I'm not 100% sure if the situations are the same. I have implemented a fix and it will be rolling to production soon. Thanks for reporting this!

[2019-07-14 17:57] #8 closed

[2019-09-05 08:55] patrick330602 opened #10 "feature request: batch testing"
Hi,

I really love the Nightingale app, but it would be great if I can test an request with multiple input values

[2019-09-05 22:27] dpaulino commented on #10
Thanks for using Nightingale!

So to clarify, when you say multiple input values, do you mean like multiple body values? or multiple query parameters?

[2019-09-06 02:09] patrick330602 commented on #10
What I mean is multiple environment parameters, like {{SomeVar}} can accept a list of values such as a list of IP address or a list of App ID, so when I test it should return the response on each value on the list.

[2019-09-06 02:11] dpaulino commented on #10
Gotcha, makes sense! One more question, in your scenarios, where would you place this {{SomeVar}} variable? in a query? url? body?

Or do you imagine being able to put it anywhere?

[2019-09-06 02:17] patrick330602 commented on #10
Mostly I expect it to be put in a body or a query, but it would be nice if being able to put anywhere

[2019-09-06 02:20] dpaulino commented on #10
Awesome, thanks. I've added this to the backlog and I'll try to work on it after Nightingale vNext is released. Thanks again for your feedback -- I just realized that it's something that I could use as well!

[2019-09-18 06:56] azunyuuuuuuu opened #11 "Can not connect to REST services on local network and domain-joined hosts"
When trying to call a REST service residing on the local or domain-joined network I get the following error message:

[code]

Using the command `checknetisolation debug -p=S-1-15-2-2472482401-1297737560-3464812208-2778208509-1273584065-1826830168-474783446` I was able to get the following output which basically states that the capabilities for `PrivateNetworkClientServer` are not enabled in the `.

[2019-09-18 07:15] dpaulino commented on #11
Hi @azunyuuuuuuu thanks for reaching out.

Nightingale should be capable of connecting to your localhost on the same machine. Have you tried turning this off in the settings menu?

![image](https://user-images.githubusercontent.com/7649589/65123805-eae32a80-d9a8-11e9-9e33-33f7adf73dea.png)

[2019-09-18 07:16] dpaulino commented on #11
Also, regarding domain-joined hosts, yes that's a known issue. I have an upcoming update to add the PrivateNetworkClientServer capability to the app manifest. I'll ping this issue again once that update is live, and I will ask you at that time to check if the issue was fixed.

[2019-09-18 08:05] azunyuuuuuuu commented on #11
This was the first thing I tried, as I suspected it is the ssl certificate. It didn't work :( But querying REST interfaces outside of the local network worked fine with this activated and deactivated.

Thank you very much. I`ll be waiting until then.

[2019-09-18 16:49] dpaulino commented on #11
An update is coming in a few days to the preview program. Any chance you're interested in joining? The fix will be included in there. If you're interested, feel free to sign up here https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAQduPxpURU8zSUFNUTBYRDVSUkhJS0JQOE8yTFZYTy4u

[2019-09-19 09:37] azunyuuuuuuu commented on #11
I have signed up for the preview program and will try it as soon as the preview is available.

[2019-09-19 18:05] dpaulino commented on #11
The newest preview build just went live with the `PrivateNetworkClientServer` capability included. The version of the preview build is 3.0.2. Please let me know if that fixes your issue.

[2019-09-20 13:43] azunyuuuuuuu commented on #11
The newest release fixes this flawlessly. Tyvm :)

[2019-09-20 13:43] #11 closed

[2019-09-20 15:38] dpaulino commented on #11
Thanks for confirming!

[2019-10-02 04:14] lucimarckjsdias opened #12 "Feature request: Add File Upload support on requests"
Hi!

I give a try to Nigthingale REST API Client (Preview) and I love how smooth, clean and beautiful the application have been evolved, one of the best UWP app sample, but I have a problem when I needed to create a request with file upload, so, sadly, I have to migrate to Insomnia App that offer the support for file uploads with Multipart Form. I would like to return to Nightingale if a similar f

[2019-10-02 04:48] dpaulino commented on #12
Hi @lucimarckjsdias thanks for trying out Nightingale. There's an option to upload a binary file when you click on the `Body` pivot. Does that work for you or are you referring to a different feature when you say `file upload`?

![image](https://user-images.githubusercontent.com/7649589/66018750-272c8580-e495-11e9-938d-00d823cd7b7c.png)

[2019-10-02 04:51] lucimarckjsdias commented on #12
Is different, look how is on Insomnia:
![image](https://user-images.githubusercontent.com/30981574/66018821-a5e1ec80-e4ae-11e9-9485-7b2d1de6888d.png)

You can combine different type values in one request.

[2019-10-02 04:54] dpaulino commented on #12
Ah yes, that's the multipart form. Thanks for the image! We are working on this ASAP because other people have requested the same feature. I will report back with updates on our progress. Thanks again for your feedback!

[2019-10-02 04:57] dpaulino commented on #4
Closing due to lack of information. Will reopen if more information is gathered.

[2019-10-02 04:57] #4 closed

[2019-10-06 20:31] dpaulino commented on #12
Quick update, we've completed this feature. It's now deployed to Nightingale preview members. We're going to monitor for bugs over the next few days. If all goes well, we'll deploy to the public sometime this week.

[2019-10-10 02:41] dpaulino commented on #12
This feature is now available in Nightingale. Let me know if you encounter any issues! Closing ticket now

[2019-10-10 02:41] #12 closed

[2019-10-10 14:46] Marc-JB opened #13 "Feature request: autosave workspace"
Add an autosave option, so that I don't lose my new or modified requests and collections when I close the app and forgot to save.

[2019-10-10 15:07] dpaulino commented on #13
Thanks for the feedback. I apologize for the inconvenience this may have caused you. I'm putting this on my backlog with high priority. I'll let you know when I have more updates.

[2019-10-10 15:31] lucimarckjsdias opened #14 "[Bug] Some fields of Form Data aren't responding correctly."
I made the same request on two clients: Nightingale and Insomnia. Compare the responses.

![image](https://user-images.githubusercontent.com/30981574/66582732-3f189f00-eb50-11e9-9095-6f4436b24bcc.png)

Some fields on Nightingale look like weren't sent. It's a bug or I missing something? I tried to complete the content type fields too, but it didn't work.

[2019-10-12 04:21] dpaulino commented on #14
Thanks for the screen shot. Investigating now.

[2019-10-12 04:47] dpaulino commented on #14
I've identified the cause of the bug, and I have applied a fix. Thank you SO much for reporting this. I will be preparing to deploy this to the preview program as soon as possible. Stay tuned for updates.

[2019-10-12 06:35] dpaulino commented on #14
The fix has been submitted to the store for the preview program. I will report back once it's available to preview members.

[2019-10-12 22:02] dpaulino commented on #14
V3.0.22 has been deployed to preview members. Are you in the preview program? Can you confirm if it works?

[2019-10-13 01:22] lucimarckjsdias commented on #14
Is working now! Thanks ❤

![image](https://user-images.githubusercontent.com/30981574/66709622-59ac6d00-ed36-11e9-8a26-1105e4350e1e.png)

[2019-10-13 01:23] #14 closed

[2019-10-24 16:01] dpaulino commented on #13
I'm fixing this issue as we speak. Hope to deploy the fix in a day or two. Thanks for everyone's patience

[2019-10-24 19:44] msanda opened #15 "Feature Request: Debug Mode"
There are occasions where Executing a rest call in nightingale will result in an error or

"An error occurred while sending the request. The text associated with this error code could not be found.

A connection with the server could not be established"

A debug mode on startup or in the settings of the application could help track down the issue. Currently, i have to replicate my rest calls to an

[2019-10-24 23:04] dpaulino commented on #15
Good feedback, thanks! For more context, during those times that you replicate yoru rest calls with another client, did those calls work in Insomnia? If they did not work, did Insomnia provide details that you wish Nightingale could also provide?

[2019-10-25 22:23] dpaulino commented on #13
The fix is rolling out to preview members over the next 24 hours. I report back once it's available to the public.

[2019-10-25 22:26] dpaulino commented on #13
I should specify that I am mitigating this issue by providing an option to save your data upon closing the app. This is not exactly "autosaving" because autosaving will require a bit more work. Thus, I am adding this stop gap for now until I can properly implement auto saving.

If any of you are in the preview program, let me know your thoughts once the v3.0.25 update rolls out to you.

[2019-10-26 01:37] dpaulino commented on #13
I received feedback from some preview members and they hate the UX of the pop up. Thus, I spent the past few hours fully implementing auto save with an option to disable this in settings.

I'll report back once this is released to preview members.

[2019-10-26 07:46] dpaulino commented on #13
Now rolling out to preview members

[2019-10-29 15:45] #13 closed

[2019-11-06 12:33] Demelor opened #16 "Bug: GET requests doesn't send request body"
It may seem strange to send body with GET requests but it is actually supported by HTTP standard and actively used by Elasticsearch (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html).

What you expect to happen:
Called server receives GET request body.

What actually happens:
Body is empty on received GET requests.

Reproduction steps:
Create new GET request

[2019-11-06 15:18] dpaulino commented on #16
Thanks for your feedback, I'll look into this asap!

[2019-11-08 15:41] jburman opened #17 "Feature request: show response time in Log"
Would be useful to display the response time in Log window (so don't need to click on the response icon each time)

[2019-11-08 18:07] dpaulino commented on #17
@jburman thanks for the feedback! Do you think having the response time beside the response status code would improve your situation?

[2019-11-08 18:35] jburman commented on #17
Yea, if it were visible all the time that would be even better.
Thanks!

[2019-11-08 18:51] dpaulino commented on #17
Great, thanks. I'll work on this soon!

[2019-11-09 05:59] dpaulino commented on #17
@jburman what do you think about this?
![image](https://user-images.githubusercontent.com/7649589/68523805-fd743480-0272-11ea-9100-d8c465fc0309.png)

[2019-11-09 19:12] dpaulino commented on #16
Small update: Nightingale uses RestSharp for some of its calls. It seems that RestSharp does not support adding a body to a GET request: https://github.com/restsharp/RestSharp/issues/1330

However, HttpClient in .NET Core does support having a body in GET requests. So it may be possible to add this capability into Nightingale, but it will take more time than I originally thought. I'll report back

[2019-11-10 02:16] jburman commented on #17
Yea that looks good to me. Just an idea, but I wonder how it would look with the status code slightly larger and the response time text reduced size under it?

From: Daniel Paulino
Sent: Saturday, November 9, 2019 12:59 AM
To: jenius-apps/nightingale-rest-api-client
Cc: Jeremy Burman; Mention
Subject: Re: [jenius-apps/nightingale-rest-api-client] Feature request: showresponse time in Log (#17)

@j

[2019-11-10 02:30] dpaulino commented on #17
Oh oops I may have accidentally deleted my previous message. That's a good idea, I'll give it a try!

[2019-11-11 07:34] dpaulino commented on #17
Now available in 3.1.8. Let me know what you think

[2019-11-12 01:54] jburman commented on #17
Yea that looks great - thanks for adding that in.

[2019-11-12 01:54] #17 closed

[2019-11-13 15:58] calloncampbell opened #18 "Feature request: Import from Postman"
It would be nice if there was an import functionality to migrate from Postman.

[2019-11-14 07:18] dpaulino commented on #18
@calloncampbell thanks for the feature request! I have this on the backlog near the top. Hoping to get to it soon. I'll keep you updated. Thanks again!

[2019-11-14 07:44] dpaulino commented on #17
Just wanted to say thanks once again for bringing this to my attention. Since the launch of 3.1.8, I've already received several positive reactions to adding the response time beside the status code. I probably should have figured this out sooner, but sometimes it's hard to see things a different way when you're working on it everyday. I'm very glad you brought it up! Cheers

[2019-11-30 02:20] coffeebank opened #20 "Feature request: Word Wrap"
Hi, just wanted to start by saying, great app! Paid for premium and amazed at the quality and functionality of it all.

One recommendation I'd like to make is to add a word wrap option to the Body section when sending a POST so that all the text can be seen together without needing to scroll.

I tried to scroll with the middle button of my mouse but that hasn't worked either, so it's been sort of

[2019-12-01 16:45] dpaulino commented on #20
Thanks for the feature request! I'll investigate this as soon as possible.

[2019-12-03 00:11] Suchiman opened #21 "Feature request: Import swagger / OpenAPI definition"
Awesome design but it would be really handy if i could import my giant REST API from the auto-generated swagger definition!

[2019-12-03 07:18] dpaulino commented on #21
Thanks for the feature suggestion! I've added this near the top of my backlog, and I will update this thread as soon as possible.

[2019-12-05 21:40] calloncampbell opened #22 "Enhancement: Better manage environment support"
The manage environments window could use some love in how it manages environments.
- There doesn't seem to be a way to rename an environment.
- Would be nice to clone an environment.
- Environments can get an icon but there is no description of what the icon is and you can't change the icon. Why is there an icon?
- Longer environment names

[2019-12-05 21:45] calloncampbell opened #23 "Feature request: Generate code for C# based off new HttpClient in .NET Core"
I see there is a feature to generate code for a particular request for C# using RestSharp. It would be nice if there was another option for C# based off the HttpClient in .NET Core.

[2019-12-05 21:54] calloncampbell commented on #22
Should have a warning before deleting an environment

[2019-12-05 22:12] calloncampbell opened #24 "Feature request: Prompt when deleting any items"
Prompt when deleting:
- Request
- Collection
- Environment

[2019-12-05 22:14] calloncampbell opened #25 "Feature request: Sort items alphabetically"
Sort items alphabetically for:
- Requests/collections
- Environments
- Workspaces

[2019-12-05 22:53] dpaulino commented on #18
@calloncampbell heads up, this feature is now in store certification for public release. I have still marked the feature as `preview` in the app, though, as I'm sure there will be some edge cases I haven't accounted for. I'll update this thread once the update is available.

[2019-12-05 23:19] Sergio0694 commented on #23
@dpaulino This looks like something I could help you with 😄
Would be pretty easy to add this (and other codegens) with that mustache approach I told you about.

[2019-12-06 05:37] dpaulino commented on #23
@Sergio0694 that would be much appreciated. I've publicized a repo that contains the `ICodeGenerator` interface that Nightingale uses. Please feel free to create a pull request to add new implementations. https://github.com/jenius-apps/nightingale-core/tree/master/Nightingale.Core/CodeGenerators

Ideally, it would be great to have the folder structure look like this:
[code]

[2019-12-06 16:45] calloncampbell opened #26 "Bug: Connection issues"
I'm connected to my domain joined network via VPN and I'm getting similar errors to what issue #11 mentioned. I've tried turning off the SSL validation.

Here is screenshot showing the results working in Postman and the browse but not in Nightingale.

![image](https://user-images.githubusercontent.com/4095080/70339958-d54e0600-181d-11ea-8fb4-ab8555368391.png)

Let me know if you need more informat

[2019-12-06 20:23] dpaulino commented on #26
Hmm, can you try running the command in this doc? and then try to send the request once more. https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2019-12-06 20:39] dpaulino commented on #26
Just to confirm, is the domain you are trying to reach a part of a the local network? Or is it on the web?

[2019-12-06 22:13] calloncampbell commented on #26
Local work network.

--
Callon Campbell
Cloud Solutions Architect | Software Developer | Microsoft Azure MVP
@flying_maverick | https://TheFlyingMaverick.com
+1 (416) 357-9114
________________________________
From: Daniel Paulino <notifications@github.com>
Sent: Friday, December 6, 2019 3:39:06 PM
To: jenius-apps/nightingale-rest-api-client <nightingale-rest-api-client@noreply.github.com>
Cc: Call

[2019-12-07 02:23] dpaulino commented on #26
I'm wondering if this is a proxy issue in restsharp's configuration or if it's hitting a uwp restriction. Can you use the code generator to create a restsharp request and then try to run that request in a new dotnet core 3 console project?

[2019-12-07 16:22] calloncampbell commented on #26
So that website I’m trying to hit is built on .net core and using RestSharp and it’s hitting another .net core site built with RestSharp…all on my network.

From: Daniel Paulino<mailto:notifications@github.com>
Sent: Friday, December 6, 2019 9:23 PM
To: jenius-apps/nightingale-rest-api-client<mailto:nightingale-rest-api-client@noreply.github.com>
Cc: Callon Campbell<mailto:calloncampbell@msn.com>;

[2019-12-09 16:15] dpaulino commented on #18
Nightingale 3.2.1 is now available with this feature.

[2019-12-09 16:16] #18 closed

[2019-12-10 05:58] scratchfive opened #27 "Feature request: Postman URI handler"
Now that Nightingale is rolling out Postman collection importing it would be nice if it could register itself as a URI handler for "postman://" collection URIs. Postman collections are generally distributed via their own public site and are designed to be imported directly into Postman by launching a specially crafted URI that triggers an import into the Postman app. They give no direct download o

[2019-12-10 09:58] kryvyifedir opened #28 "LiveId collections support"
Currently the only way to sync collections is to export file and save it to Onedrive, and then to open it in the app on another PC. It works, but it is a bit of a hassle for someone who constantly swithces between working from home/office and different PCs. It would be nice to have some sort of a Sync option inside the app(although it might be onedrive-file based) based on currently used LiveId.
T

[2019-12-10 10:11] kryvyifedir opened #29 "Light theme bug: text selection in Body: form-data tab"
There is a bug with text selection on some tabs in the light theme.
"body -> form-data -> value" selection issue screenshot:
![image](https://user-images.githubusercontent.com/23722132/70520161-ca5ce380-1b45-11ea-8ffc-1b9672702445.png)

For your convenience I have double checked all other tabs and selections as well and it seems this is the only issue
Here is all tabs that I have tested:
Queries:

[2019-12-10 23:38] dpaulino commented on #27
Thanks @scratchfive for the thorough description! I will perform feasibility investigations soon. This is a great idea and I hope to add it into Nightingale.

[2019-12-11 09:08] ngasst opened #30 "Feature request: GRAPHQL support"
Hi. I'm liking Nightingale for its aesthetics and clever features. Is there any plan to support GRAPHQL a la Insomnia ? That is one thing that I really would love to see implemented.

Thanks for the great work --

[2019-12-11 18:59] dpaulino commented on #30
Thanks for the feature request! GraphQL is indeed on the backlog! Can't make any promises on when it will arrive though. Regardless, thank you for the feedback! I'll comment on this thread when I have updates.

[2019-12-11 18:59] dpaulino commented on #29
Thanks for the bug report! Will look into it soon

[2019-12-14 03:30] dpaulino commented on #29
issue has been addressed and it'll be available in a future release

[2019-12-14 05:51] dpaulino commented on #21
This feature is moving to the Preview program soon.

[2019-12-18 17:55] Sergio0694 commented on #23
So, I've started laying out some groundwork in [my codegen branch](https://github.com/Sergio0694/nightingale-core/tree/feature_mustache-codegen).

For now I've setup an easy to expand layout, where new code generators, templates and tests can easily be added - they just need to follow the same naming convention as the existing codegen methods and tests. I've also added a sample implementation (wor

[2019-12-19 11:58] kekeflp opened #31 "Abnormal exit"
When I call the environment variable and send it, an error is reported。
![Snipaste_2019-12-19_19-54-55](https://user-images.githubusercontent.com/19684835/71171798-a3b35100-2299-11ea-84b7-6231fa55d487.png)
![Snipaste_2019-12-19_19-55-56](https://user-images.githubusercontent.com/19684835/71171800-a3b35100-2299-11ea-8aed-2ac2791eb44e.png)

[2019-12-19 15:52] dpaulino commented on #31
Thanks for reporting this. I'll look into it asap.

[2020-01-01 23:21] hawkerm opened #32 "Bug: Creating a new request item doesn't update list selection on left"
If I have a current request selected, and then I create a new one (or duplicate an existing one), the form updates to show the blank/duplicate info, but the list on the left doesn't select the new item.  This makes it confusing to see that it's currently on the new request.  It also makes it hard to switch back to the one that's still selected, as you have to click twice (off of it and back again)

[2020-01-02 23:38] dpaulino commented on #32
Thanks for reporting this. I think this is blocked by the WinUI treeview's limited selection APIs. I'll double though

[2020-01-14 08:19] kieronlanning opened #33 "Postman Import Not Working (for Postman data download file, not collection export)"
The importing of workspace/ collection data from Postman isn't working with a message of `Unsupported collection version | unknown type | <filename>`.

Exported from Postman 7.15.0 on Windows x64, trying both the `Download only my data` and `Download all data including data in workspaces I have joined` options.

[2020-01-14 08:55] dpaulino commented on #33
Thanks for creating an issue. What version is your postman collection? There should be a version in the schema property at the top of the json file. Example:
![image](https://user-images.githubusercontent.com/7649589/72328864-94d97780-3668-11ea-80f0-9a1103da922b.png)

[2020-01-14 08:57] dpaulino commented on #24
This will be included in the next update (which is currently in certification in the store).

[2020-01-14 08:57] #24 closed

[2020-01-14 08:58] dpaulino commented on #29
This fix is included in the next release coming soon.

[2020-01-14 08:58] #29 closed

[2020-01-14 08:59] dpaulino commented on #21
Coming in the next release. (update is in certification. ETA 3 days)

[2020-01-14 08:59] #21 closed

[2020-01-14 09:11] kieronlanning commented on #33
That doesn't exist anywhere in either file for me...

![image](https://user-images.githubusercontent.com/5364423/72330112-d9d3cd00-36ad-11ea-9bd2-ad12dccf7fcd.png)

[2020-01-14 09:27] dpaulino commented on #33
Hmm what happens when you right click on a collection and select export? Are you able to import into Nightingale that file?

It sounds like you're trying to import a file that has a different schema. How did you generate this file again? I'll try to generate this myself to see how different it is. I can update Nightingale to it

[2020-01-14 13:02] kieronlanning commented on #33
Ah, ok - I'll try that later.

I went to Postman - Settings -> Data -> Download (tried both options).

![image](https://user-images.githubusercontent.com/5364423/72346551-23ccab00-36ce-11ea-8de3-1d7c8eb0b759.png)

[2020-01-14 13:41] gvkempen commented on #16
Whilst it would be fun if the app would support GET with body, it is _not_ officially part of the HTTP specification: "The GET method means retrieve whatever information (in the form of an entity) is identified by the Request-URI." (https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9) Mozilla MDN also informs us that GET requests should not have a body.

Elasticsearch knows GET with body i

[2020-01-14 15:16] dpaulino commented on #16
Thanks for that information. I also read that sending a body with GET was not standard, so I wasn't too sure if I should be supporting it to let customers work with Elastic Search.

But since Elastic Search can accept POST calls, I will close this issue.

[2020-01-14 15:16] #16 closed

[2020-01-15 11:42] clementb49 opened #34 "accessibility with screen reader"
I have tested the application with NVDA screen reader and this app was unusable because the different button have not a label.

[2020-01-15 16:30] dpaulino commented on #34
Thanks for creating an issue. I'll work on this soon!

[2020-01-16 04:03] Kirlac opened #35 "Workspace changes not auto saved when application gracefully crashes"
When the app crashes I lose everything that was set up since the application was last closed. I added a collection with a couple of requests, set up my environment/filled in my variables etc. and then ran the first request. It submitted to my api server and appeared to process successfully there however Nightingale decided to pop up an error stating it has to shut down because it couldn't parse th

[2020-01-16 05:23] dpaulino commented on #35
Thanks for creating the issue, and I'm sorry about the inconvenience. I really appreciate the details your provided, and I will investigate saving on close.

Please do let me know if you end up finding the cause of the crash. I am working on #31 right now, but I'd like to address the cause of your crash as well.

[2020-01-16 05:24] dpaulino commented on #33
@kieronlanning any chance you were able to get the import to work using the exported collection instead of the downloaded file?

[2020-01-16 05:38] Kirlac commented on #31
From my breif debugging attempts here, it seems the issue only occurs when using an environment variable in the host part of the url.

Eg. using the test API call: `https://jsonplaceholder.typicode.com/posts?userId=1`

What works:
- Sending a GET request to this hardcoded url works as expected
- Variables seem to work as expected in query params (both for key and value) so sending the same request

[2020-01-16 05:39] dpaulino commented on #31
@Kirlac big thank you for the detailed repro steps! Looking into this deeper now!

[2020-01-16 06:01] Kirlac commented on #35
Thanks @dpaulino - I don't think it's necessarily a major issue assuming the application doesn't usually crash. I did a little more testing to narrow down what was causing the host parsing error and my situation does seem to be the same as #31 (as far as I can tell. I get the same error popup in the same condition) so I have commented there with my findings - it seems to be a problem with variable

[2020-01-16 06:14] Kirlac commented on #31
Thanks for looking into this @dpaulino. No problem, I'm happy to help - hopefully I gave you something useful there. I can see this being my go-to rest debugger (replacing postman once I upgrade to premium for more collections/environments/etc), but I was in the process of doing a "trial run" when I ran into this bug. Hopefully it's not a big one to fix - I can see this potentially causing problem

[2020-01-17 05:21] dpaulino commented on #31
@Kirlac I tried to reproduce it in v3.2.4, and I think the issue may have been addressed in one of the bug fixes I did.
![image](https://user-images.githubusercontent.com/7649589/72586064-3cdb8480-38a5-11ea-8fff-7ccd02da1414.png)

Any chance you're in the preview program to test this out? You can join [here](https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAQ

[2020-01-17 21:30] dpaulino commented on #31
@kekeflp @Kirlac Nightingale v3.2.4 was just released to the public. Please give it a try and let me know if the bug you're seeing still persists. From my own testing, I could not reproduce the bug in v3.2.4. Please let me know as soon as possible. Thanks!

[2020-01-18 02:21] dpaulino commented on #28
Great feature suggestion. I agree that OneDrive integration would be super cool. I'll perform feasibility investigations soon.

[2020-01-19 08:39] kieronlanning commented on #33
I've a lot of collections, and haven't brought myself to get on with trying it yet I'm afraid.

Next time I need to use PM for something, it'll try it then.

[2020-01-19 23:18] Kirlac commented on #31
Hi @dpaulino sorry for the late response. I have just had the chance to test this with the v3.2.4 release and I can confirm the issue appears to be resolved for me. Thanks!

[2020-01-19 23:41] dpaulino commented on #31
Great, thanks for confirming!

[2020-01-19 23:42] #31 closed

[2020-01-20 13:14] electronic-dk opened #36 "Feature request: Import from Insomnia"
It would be great to have the ability to import data from Insomnia (a popular REST-client similar to Postman) https://insomnia.rest/
Here's the description of the export format: https://support.insomnia.rest/article/52-importing-and-exporting-data

Thank you.

[2020-01-20 13:20] electronic-dk opened #37 "Bug: Horizontal scroll is jerky in the response body pane"
Horizontal scroll is behaving strangely in the response body pane: it doesn't scroll continuously, but rather stops right after scrolling a few pixels. So basically, if I want to scroll all the way to the right side, I have to perform several scrolling gestures on the touchpad.
It seems to be working correctly in other panes and in the pane headers.

Hardware: Dell 7400 laptop with precision touch

[2020-01-21 12:42] lordkyuusei opened #38 "Bug: variables doesn't seem to work in Auth tab."
Hi Daniel!

I would like to submit a bug i'm facing right now. I have an environment with variables. Those variables, when templated like {{this}} work well when it's in the URL.

![image](https://user-images.githubusercontent.com/18118930/72805292-d2369a00-3c52-11ea-96c3-a32178756944.png)
_Screenshot of Nightingale with correct inputs and correct output._

{{frontname}}:{{apiMgrPort}} is correctl

[2020-01-21 18:55] dpaulino commented on #38
Thanks for creating an issue! Nightingale does not yet support using variables in the password, but it should be working for the username. So you likely found a bug!

Let me take a look at this, and I may just add support for password variables while I'm investigating the username. Thanks again!

[2020-01-21 18:56] dpaulino commented on #36
Thanks for the feature request! This has been one of the most requested features, so I hope to start working on this soon

[2020-01-21 18:59] dpaulino commented on #37
Any chance you can capture a screen recording to show me? You can use the Game Bar to perform screen recording. While Nightingale is your active window, press Windows Key + G and then click the record button.
![image](https://user-images.githubusercontent.com/7649589/72834119-04d59800-3c3d-11ea-9528-609671a6c6f9.png)
Then click Esc to close the Game Bar overlay and start reproducing the scroll err

[2020-01-21 19:26] electronic-dk commented on #37
@dpaulino sure, see attached. Please, notice the difference between the vertical scroll and the horizontal scroll as well as between the horizontal scroll in the response body area and the horizontal scroll in the headers section.
I've uploaded it to my oneDrive: https://1drv.ms/v/s!AlAZ1YqsDsJIgac-8-F_1QFD60iswA?e=g1fA9g
Please let me know if you'd rather have it converted to GIF and embedded her

[2020-01-22 11:44] lordkyuusei opened #39 "Bug: Moving requests around makes sometimes the app crash"
Hi Daniel!

I found a bug (and another on that may be related (or may not)). Please, take a look:
![Nightingale-REST-API-Client-2020-01-22-12-36-13](https://user-images.githubusercontent.com/18118930/72891293-3b321680-3d14-11ea-9d13-98c7d6286977.gif)

 - Despite the fact i'm not (yet) a premium user, i'm able to import collections of 5+ items.
 - When I try to add a new request to this collection,

[2020-01-22 13:43] kryvyifedir opened #40 "Request Headers doesn't allow to set a charset"
Hi Nightingale,

I am currently working on an integration with Pocket API, and it seems that I have found a peculiar issue
Here is an authorization API
https://getpocket.com/developer/docs/authentication

It states that basically 2 Headers have to be included in first POST request
Content-Type: application/x-www-form-urlencoded; charset=UTF8
X-Accept: application/x-www-form-urlencoded

Here is a s

[2020-01-23 21:11] MikeyMCZ opened #42 "Search dialog is not getting focus on ctrl+f"
Hi Daniel,

I would like to report a bug. When I try to search in the response json I use ctrl+f shortcut on my keyboard. The Search dialog is opened however it doesn't have focus. So when I start typing I usually end up editing the response body.

I'm using 3.2.4.0

Thank you!

[2020-01-24 05:22] dpaulino commented on #39
Thanks for creating an issue!

It was always my intention to let people import a collection with more than 5 items even without Premium. I want to encourage people to use Nightingale with the data that they had in other apps.

However, the purposefully remains if you try to add new items into that imported collection. There may be a bug here with the drag and drop. You shouldn't be able to drag an

[2020-01-24 05:43] dpaulino commented on #42
Cause of issue was that the search bar UI wasn't fully rendered yet before the `Focus` command was executed. I've fixed this now, and it will be available in the next release.

[2020-01-25 23:38] dpaulino commented on #35
Just finished up work on this. Once the next update is released, Nightingale will save your workspace upon crashing. Thanks again for this valuable feedback!

[2020-01-26 01:38] dpaulino commented on #40
Thanks for spotting this bug. I have now fixed the issue. This fix will be available in the next update!

[2020-01-26 03:00] dpaulino commented on #39
I did some investigations. It looks like this is caused by a limitation in the TreeView control from [WinUI](https://github.com/microsoft/microsoft-ui-xaml) library. There is a small edge case where if you drop a request between two items really fast, a crash occurs.

I have ideas on fixing this, but it will require some major structural changes that will be coming for Nightingale vNext.

So to be

[2020-01-27 12:57] lordkyuusei commented on #39
No worries, I'll be more cautious in the future, good job! :)

[2020-01-28 23:04] contextfree opened #43 "URL display/edit not visible at narrower widths"
At narrow window widths (useful for e.g., keeping nightingale side-by-side with some other app on smaller monitors - like a web browser, file explorer, terminal, IDE for the app I'm testing, etc.) the base query URL doesn't appear at all (as shown in the screenshot). This both makes the app less useful in this situation, but also it was just really confusing for me as there's no indication of what

[2020-01-29 00:57] dpaulino commented on #43
haha of course I read the whole thing! This is great feedback, thank you. I also like that you provided recommendations on how to improve. I like your idea of auto-collapsing the side bar. I might explore that as well as some other options.

In the meantime, have you tried manually collapsing the side bar with the bottom left button? Is the URL bar UX still poor even when the side bar is collapsed

[2020-01-29 01:40] contextfree commented on #43
With the sidebar collapsed it's at least workable. I still can't see the whole URL at a time, so it's awkward for editing or for getting your bearings at a glance, but maybe it's OK, not sure - I haven't used the app or other REST client apps enough to have a feel for how important this is.

[2020-01-29 03:41] dpaulino commented on #43
gotcha, thanks. I'll mark this issue as an enhancement to improve the URL bar when window is narrow.

[2020-01-30 18:33] #34 closed

[2020-01-30 18:33] #35 closed

[2020-01-30 18:33] #38 closed

[2020-01-30 18:33] #40 closed

[2020-01-30 18:33] #42 closed

[2020-02-02 16:53] Ombrelin opened #44 "Request on localhost not working"
Trying do perform a request on a localhost spring boot server with nightingale. The request times out, however, with postman the exact same request works as expected.

[2020-02-02 20:03] dpaulino commented on #44
Hello 👋🏽 Thanks for creating an issue! Can you try this troubleshoot step? https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

Let me know if that works or not.

[2020-02-03 11:48] #44 closed

[2020-02-03 11:49] Ombrelin commented on #44
It worked thank you

[2020-02-04 18:23] rico-et22 opened #45 "Feature request: Informing about the workaround when trying to access localhost"
It would be nice if Nightingale informed the user about the necessary workaround command when trying to access a resource in localhost.
It can be done for example by detecting "localhost" in the address bar and then triggering the warning.

[2020-02-04 21:42] dpaulino commented on #45
Thanks for the feedback! Just double checking, are you referring to the SSL workaround of the checknetisolation workaround? Or perhaps both?

[2020-02-04 21:43] rico-et22 commented on #45
I'm referring to checknetisolation.

[2020-02-04 21:47] dpaulino commented on #45
Gotcha! So, Nightingale actually performs this workaround automatically for you when it's first launched. The only known occasion when this automatic execution fails is when your Windows User account is not an administrator.

So it sounds like this auto execution didn't work for you. Any chance you're not an administrator?

[2020-02-04 21:53] rico-et22 commented on #45
🤔... Yes I am in the administrator group (standard Microsoft account created on first time configuration, UAC enabled). BTW I'm running an Insider build

[2020-02-04 22:12] dpaulino commented on #45
Interesting. If you're up for doing a bit of testing, I'd be curious to see what happens when you uninstall and reinstall Nightingale and then try to make a call to localhost. (Make sure to turn off SSL verification after reinstalling so that doesn't interfere with the test result).

I'll do some of my own testing as well

[2020-02-07 06:31] #36 closed

[2020-02-07 12:49] prkhandelwal opened #46 "Connection Issues while hitting APIs"
Receiving the following error while hitting localhost APIs.

[code]

SSL validation is turned off!

[2020-02-07 16:43] dpaulino commented on #46
Hello 👋🏽 Thanks for creating an issue! Can you try this troubleshoot step? https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

Let me know if that works or not.

[2020-02-07 17:55] prkhandelwal commented on #46
Thanks @dpaulino , it now works! 🙌

[2020-02-07 17:55] #46 closed

[2020-02-08 23:22] secana opened #47 "Inherit authentication from collection"
One of the features from Postman which I miss a lot in Nightingale is the possibility to inherit authentication options from a collection.

For example: If I have a collection with REST request for my ElasticSearch cluster, I need to set the authentication in every request in the collection.

What I want: Set the authentication information once in on the collection level and all requests in the co

[2020-02-09 01:17] dpaulino commented on #47
Thanks for the feature request! Agreed that this would be super useful. I'll investigate how much work is needed to implement this and I'll post updates soon.

[2020-02-10 09:00] rasmusfjord commented on #11
So im still getting this issue :( On localhost:
An error occurred while sending the request

Have tried the SSL switch off but still getting this. Isnt this released yet?

[2020-02-12 20:23] DenisBalan opened #48 "Feature request: HAR archive import/export"
As a developer I want to import/export HAR archive so that i can debug REST api's.
For now, every major http debugging tool have this ability.

ref: https://en.wikipedia.org/wiki/HAR_(file_format)

[2020-02-24 12:10] gilmishal opened #49 "Add an Html Preview for response body"
Request response can only be viewed as text. json, xml or raw html, and raw bytes.

There should be an option to display a web preview of the data if it's html.
asp.net and many other webservices return an html response for errors - and it would be a lot easier to view those errors if I could display a rendered website.

[2020-02-26 13:29] prkhandelwal opened #50 "No 'Implicit' grant type in OAuth 2.0"
![image](https://user-images.githubusercontent.com/12965931/75349075-0b090500-58ca-11ea-9c26-53234a434247.png)

[2020-02-26 22:04] zippoxer commented on #11
Getting this problem as well.

[2020-02-27 09:45] realzhaorong opened #51 "The app crashed on Windows 10 1909"

[2020-02-27 16:46] dpaulino commented on #51
Does it crash on launch?

[2020-02-28 06:38] realzhaorong commented on #51
Yes, it crashed on this screen.

![image](https://user-images.githubusercontent.com/10270723/75516616-d915b100-5a37-11ea-89cc-dbad4c8411c2.png)

[2020-02-28 07:21] dpaulino commented on #51
Is this your first time downloading the app and trying it? Or were you using Nightingale before and it worked fine, and then it started crashing recently?

[2020-02-28 08:51] realzhaorong commented on #51
It's my first time using this app.
I have tried to reinstall it, but doesn't work.

[2020-03-19 08:24] sharpninja opened #52 "Define _Services_ which are templates for a service that can be added to collections without disturbing the _Service_ definition."
Templates would allow reusable services that can exist in multiple Collections.  _Services_ added to Collections would be __immutable__, meaning changes are only allowed in the _Service_ definition which ensures that tests run across Collections are always in sync.

[2020-03-19 08:27] sharpninja opened #53 "In the Test definition, add concept of Pass/Fail, not just displaying status and message."
Current, if you create a test for an error condition, then success of that test actually says Error on the screen.  Unless the viewer is expecting that to be a successful test, then it would be a false indicator.

[2020-03-23 17:53] sakisds commented on #45
I've had the same issue on a fresh installation. I found the workaround on this repo that fixed the problem but reinstalling didn't seem to do anything. My account is an administration, UAC enabled.

Any info I can provide that could prove helpful?

[2020-03-23 17:57] dpaulino commented on #45
I've been getting reports left and right about this. I'm starting to wonder if Microsoft has updated Windows to prevent Nightingale from automatically getting localhost access.

Can you reply with your Windows version and build? You can search for winver in your Taskbar to get this info

[2020-03-23 18:49] sakisds commented on #45
I am on Version 1909, Build 18363.720.

[2020-03-23 18:50] dpaulino commented on #45
@sakisds thanks. I have a feeling Microsoft made changes in 1909 that has affected Nightingale. I will work on adding a help message about localhost into Nightingale

[2020-03-24 12:15] sakisds opened #54 "Feature Request: Customize font face and size in response body"
It would be nice to be able to customize the font face and size in the response body.

Thanks for the great work!

[2020-03-25 04:02] dpaulino commented on #45
I have added a clickable message at nightingale's bottom bar when the user send a requests to localhost. Clicking on the message brings up the localhost doc. The update is now compiling and it will be deployed to preview members in a few hours. It should become available to the public sometime this week.

[2020-03-26 03:16] realzhaorong commented on #51
The crash report.

Version=1
EventType=MoAppCrash
EventTime=132296656246721692
ReportType=2
Consent=1
UploadTime=132296656255436843
ReportStatus=268435456
ReportIdentifier=04aa8234-d69e-4bfc-b336-3e21ab69e216
IntegratorReportIdentifier=36a5346f-7fd5-4f1b-8c05-2cfd12a91d41
Wow64Host=34404
NsAppName=praid:App
OriginalFilename=Nightingale.exe
AppSessionGuid=000021c8-0001-0016-31e6-339e1b03d601
Target

[2020-03-26 03:19] dpaulino commented on #51
Thanks for the information. I think I know what's causing it. I will perform some investigations

[2020-03-26 03:23] realzhaorong commented on #51
ADDITION:

There are some information from Windows Event Viewer

Faulting application name: Nightingale.exe, version: 1.0.0.0, time stamp: 0x5e7ae82f
Faulting module name: Windows.UI.Xaml.dll, version: 10.0.18362.657, time stamp: 0xda02d3eb
Exception code: 0xc000027b
Fault offset: 0x0000000000712ec0
Faulting process id: 0x21c8
Faulting application start time: 0x01d6031b9e33e631
Faulting applicatio

[2020-03-26 03:25] dpaulino commented on #51
Can you give some details about your device? Brand, model, and windows build?

[2020-03-26 03:28] dpaulino commented on #45
3.2.9 now available. It shows a banner at the bottom status whenever you attempt to connecto to localhost.
![image](https://user-images.githubusercontent.com/7649589/77607301-19e9d400-6ed7-11ea-97a8-b0d24b352210.png)

[2020-03-26 03:28] dpaulino commented on #45
Thanks @sakisds and @rico-et22!

[2020-03-26 03:28] #45 closed

[2020-03-26 03:29] realzhaorong commented on #51
Device: MacBook Pro 2012 late
Windows OS: Windows 10 Enterprise 1909 build 18363.720

[2020-03-26 03:30] dpaulino commented on #51
Are you running in bootcamp or parallels?

[2020-03-26 03:35] realzhaorong commented on #51
BootCamp, but the Windows OS and mac OS not installed on a same SSD drive.

[2020-03-30 16:46] dpaulino commented on #47
I'm pleased to report that this is now in alpha testing. If all goes well, it will be publicly available sometime this week.

[2020-03-30 18:00] dpaulino commented on #47
Accidentally closed the issue using the GitHub app... Reopening

[2020-03-31 07:06] secana commented on #47
Great to hear. Will try at soon as it is available in the store. Thanks for implementing the feature!

[2020-03-31 15:41] dpaulino commented on #47
Nightingale 3.3.0 now available with this new feature. Please try it out and feel free to create a new issue if you find any problems!

[2020-03-31 15:41] #47 closed

[2020-04-01 07:38] secana opened #55 "Authentication inheritance not working"
I just tried out the new authentication inheritance but it does not work.

Version 3.3.0.0

What I've tried:

1. Add credentials to collection item (Basic Auth)
2. Remove credentials from child items
3. Check "Parent" tab: "This item will inherit its parent's authentication"
4. Send the request: Results in 401 Unauthorized

With the same credentials directly on the child item it works fine.

[2020-04-01 16:08] dpaulino commented on #55
I'll take a look, thanks!

[2020-04-01 16:09] dpaulino commented on #55
Just double checking, how are you sending the request? Via the "Execute all" button in the collection page or via the "Send" button in the request's page?

[2020-04-01 16:18] dpaulino commented on #55
I think I've isolated the bug. Can you try this:
- open nightingale
- create new collection and add basic auth details
- create new request inside that collection and use parent auth
- send request (auth should not work)
- then save your workspace
- send request again (auth should work)

Can you let me know if the auth works after you save the workspace? I think that's the bug. The inheritance isn

[2020-04-01 16:32] dpaulino commented on #55
New 3.3.1 update rolling out to alpha testers with this fix just in case you confirm that the previous workaround does work for you. If it does not work, let me know and I'll investigate further.

[2020-04-01 19:08] dpaulino commented on #55
3.3.1 now available. Please try it and let me know if you're still encountering an issue!

[2020-04-02 06:20] secana commented on #55
Hi I'll try it out as soon as the new version is available in the store. I checked just now, and the most up to date is still 3.3.0.0

[2020-04-02 06:22] dpaulino commented on #55
Woops, I spoke too soon earlier. Looks like it got deployed to beta testers and the production release is still being certified by the store. I'll report back once it's deployed

[2020-04-02 14:53] dpaulino commented on #55
The update should be available now.

[2020-04-03 06:28] secana commented on #55
Hi @dpaulino just tried out the new version and it works now. Thanks for the very fast fix!

[2020-04-03 06:28] #55 closed

[2020-04-08 05:13] dpaulino commented on #52
Do you think there's some overlap with this feature request? https://github.com/jenius-apps/nightingale-rest-api-client/issues/10.

I'm asking because I think I may be able to kill two issues with one feature

[2020-04-08 21:55] sharpninja commented on #52
Yes, essentially we need templates and that would be a good ticket to drive it.

[2020-04-08 21:58] dpaulino commented on #52
Are there other http clients that have this feature that you're looking for? I think I mostly understand what you're saying, but having a visual example would also be helpful.

[2020-04-08 22:05] sharpninja commented on #52
I would use JSON and allow nested values.
________________________________
From: Daniel <notifications@github.com>
Sent: Wednesday, April 8, 2020 4:58:50 PM
To: jenius-apps/nightingale-rest-api-client <nightingale-rest-api-client@noreply.github.com>
Cc: The Sharp Ninja <ninja@thesharp.ninja>; Author <author@noreply.github.com>
Subject: Re: [jenius-apps/nightingale-rest-api-client] Define _Services

[2020-04-16 16:10] dpaulino commented on #48
@DenisBalan thank you for the feature request! I would like to see this come to nightingale as well. Can you point me to an application that does this right now? I'm curious to see try out an example

[2020-04-17 07:06] DenisBalan commented on #48
fiddler for example, export from browser tools (at least firefox)

[2020-04-17 07:09] dpaulino commented on #48
Awesome, thanks

[2020-04-19 14:05] wjvii opened #56 "Please Add Content Encoding Information to Response Headers"
In particular I am working to optimize the apps use of compression so I would like to see when content is returned using some form of compression similar to the following:

Content-Encoding: br

Thank you.

[2020-04-19 16:12] dpaulino commented on #56
I will look into this soon, thanks.

[2020-04-19 16:18] wjvii commented on #56
Thank you so much. It will help if knowing that things are properly configured.

BTW, I would be curious to know how you end up implementing this to see if there is a better way. I expected this in a Content-Encoding Header but I did not see that when using the HttpClient. When doing some tests in LINQPad I found that I could get the response.Content.GetType() from the HttpClient and if it was bei

[2020-04-20 06:46] dpaulino commented on #43
Added the ability to collapse the side bar automatically and I also improved the spacing prioritization of the url bar. Changes will be released to alpha and preview members this week. Public release is pending!

[2020-04-23 13:58] dpaulino commented on #43
Update now available to the public. Please feel free to open a new issue if you find nay problems. Thanks again for your feedback!

[2020-04-23 13:58] #43 closed

[2020-04-23 16:29] dpaulino commented on #43
@contextfree please give the latest 3.5.5 update a try and let me know what you think

[2020-04-24 09:40] merlinfrombelgium opened #57 "Importing from Postman throws error on []"
Importing a Postman json export throws the following error:

![image](https://user-images.githubusercontent.com/26247323/80197519-0be6ba80-861f-11ea-84da-97c3f1a99563.png)

This is the culprit part of the json file:
[code]
Changing `"src": []` to `"src": ""` fixes it and import is successful.

![image](https://user-images.githubusercontent.com/26247323/80198410-51f04e00-8620-11ea-9340-e0257625cd8f

[2020-04-26 08:41] dpaulino commented on #39
Issue has been fixed, but it might still take a while to be released. Stay tuned!

[2020-04-26 08:45] dpaulino commented on #25
@calloncampbell quick question, for the list of requests and collections, would you expect to see the sort apply for the children of collections as well? Or you just want to sort the root list?

[2020-04-26 13:33] calloncampbell commented on #25
I think for root collection. As for children, it looks like you can reorder how you like so that makes sense.

[2020-04-26 18:10] dpaulino commented on #25
Ok thanks!

[2020-04-26 19:44] mrjfalk commented on #22
Higher prio:
* Show which environment is active
* Allow setting which environment is the active one

Lower prio:
* Make dialog re-sizable
* Clicking outside dialog should close it

[2020-04-26 21:11] dpaulino commented on #57
Interesting, it looks like postman exports the formdata `src` property as a string if there's only one path. If there are 0 or >1 paths, postman exports `srs` as an array. This makes deserialization not straightforward. I'm going to investigate a workaround for this.

[2020-04-26 22:35] dpaulino commented on #57
Fixed it with this commit: https://github.com/jenius-apps/Postman.NET/commit/dfe57f8524fe5d76b5929fac26c974429bbaecee

The fix will be deployed to Nightingale soon.

[2020-04-26 22:50] dpaulino commented on #56
@wjvii Looks like Nightingale can already return the `Content-Encoding` header like the picture below. Do you not see this header in your usage?

![image](https://user-images.githubusercontent.com/7649589/80321856-86593b00-87d5-11ea-8a6b-7b1635ef3d37.png)

[2020-04-27 01:26] dpaulino commented on #32
I've implemented this, but you'd occasionally get this crash: https://github.com/microsoft/microsoft-ui-xaml/issues/2303

[2020-04-28 07:51] dpaulino commented on #32
After further testing, this crash is unfortunately way too frequent. I will be not be including this feature into Nightingale until the crash has been addressed.

[2020-04-28 09:09] dpaulino commented on #57
Update is now rolling out in the store. Thanks very much for your feedback!

[2020-04-28 09:09] #57 closed

[2020-04-28 12:28] wjvii commented on #56
You are correct and my bad for not realizing this myself. I was not thinking about the fact that compression, even when supported by the server, is not automatically used by the client without the proper Accept-Encoding header. Thank you for reminding me.

[2020-04-28 15:02] #56 closed

[2020-04-30 19:00] Ameyal22 opened #58 "Feature Request: Multiple users/shared workspace"
Running as s ingle user this works fine, but it needs a proper shared project option. saving to a central location and opening from there isn't really the same. It still requires users to import (which implies a local copy?) I can't see where the local copy is stored. We use MS Teams and so already share the exported json from postman, but this is still a local copy that relies on the Teams versio

[2020-04-30 22:29] dpaulino commented on #58
Thanks for the feature request. I can't make any promises yet, but I do hope to add this feature in the future.

[2020-05-03 01:54] dpaulino commented on #25
Have to stop work on this for now. The WinUI treeview used in Nightingale crashes when I attempt to perform sorting. I will have to schedule another time to debug this.

[2020-05-03 03:02] dpaulino commented on #25
Found the root cause of the crash. Seems to be that the issue may be with the sortable data structure I'm using not working well with the WinUI tree. https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3262

[2020-05-03 20:57] dpaulino commented on #22
Thanks for the feedback. Some improvements to the environment UX is coming soon. It doesn't address most of the feedback, but I think it's an overall improvement. Let me know what you think.

![image](https://user-images.githubusercontent.com/7649589/80925553-8b723900-8d45-11ea-94ec-2fc4aed80100.png)

![image](https://user-images.githubusercontent.com/7649589/80925592-e572fe80-8d45-11ea-96e7-db505

[2020-05-03 22:13] dpaulino commented on #53
Tests have been temporarily removed from Nightingale. I hope to improve the design on the future when it's reintroduced. Closing this ticket since this pertains only to the old design that SAS removed.

[2020-05-03 22:14] #53 closed

[2020-05-06 15:05] dpaulino commented on #39
Improvements have been deployed. Let me know what you think. If you see further problems, feel free to create a new issue!

[2020-05-06 15:05] #39 closed

[2020-05-06 15:07] dpaulino commented on #22
Changes have been deployed. Let me know what you think and please create a new issue if there are more  problems! Thanks again for all your feedback

[2020-05-06 15:07] #22 closed

[2020-05-06 15:38] dpaulino commented on #22
Also, for the items that I wasn't able to address, let me know if you'd like me to create new issues to track then

[2020-05-06 19:51] dpaulino opened #59 "Bug: users reporting collections are being duplicated upon app shutdown and restart"
https://twitter.com/luscapinho/status/1258120095743774721?s=20
![image](https://user-images.githubusercontent.com/7649589/81221854-3bd77b80-8f98-11ea-81c9-28a962accd50.png)

[2020-05-06 20:00] dpaulino commented on #59
Workaround:
- Export workspace to local machine such as to the downloads folder or desktop
- uninstall and reinstall Nightingale
- import the workspace file

[2020-05-06 20:00] dpaulino commented on #59
Root cause of bug has been isolated. Going to fix this as soon as possible.

[2020-05-07 01:06] TonyHenrique opened #60 "How to simulate a form file upload ?"
What do I have to inform on these fields to simulate a form file upload ?

![image](https://user-images.githubusercontent.com/6307623/81243271-c397a700-8fe5-11ea-8961-2bced830686e.png)

This is how I did the same using Postman

![image](https://user-images.githubusercontent.com/6307623/81243292-ceead280-8fe5-11ea-9791-c70cb16d49cf.png)

[2020-05-08 15:53] pinholucas opened #61 "Bug: Multiple imported workspaces from same file being deleted"
When the user import the same .ncf multiple times, the app only keeps the last one imported, deleting all the others (when the user closes the app).

[2020-05-08 21:37] dpaulino commented on #61
Going to investigate asap, thanks for reporting. Sorry for the trouble

[2020-05-10 03:43] dpaulino commented on #59
Fixed. Coming soon.

[2020-05-10 07:25] dpaulino commented on #61
Fixed. Coming soon.

[2020-05-11 07:15] tipa opened #62 "Display response as image"
Would be cool if I could see the response body as image view. Fiddler offers that for example. This features would be especially helpful when playing with image queries that dont have a ".jpg" file extension, eg. `https://public.db.files.1drv.com/verylongid?width=800&height=533&cropmode=none`

![image](https://user-images.githubusercontent.com/2863198/81534125-ca1c7a80-9367-11ea-8b5f-bf505bccbebf.

[2020-05-12 04:14] dpaulino commented on #60
@TonyHenrique I think you've answered this before but what happens if you add a key to that form data item? do you get the same error?

[2020-05-12 05:32] dpaulino commented on #60
I've been unable to reproduce that exact error message. However, I spent some time diving into .NET's http libraries. It seems that when adding form data items, a key is required for each item. Nightingale doesn't seem to handle form data items without keys gracefully. I *think* that's what causes your error.

As a fix, I'm going to make it clear in Nightingale's UI that keys are required for form

[2020-05-12 06:26] iBelow opened #63 "Bug: Error using digest auth"
Steps:
1. Digest auth
2. Header "Content-Type: application/xml
3. body XML
4. POST

in out textbox error

[code]

![image](https://user-images.githubusercontent.com/8112733/81645654-a114ec00-9432-11ea-8fed-b76649f61a3b.png)

Version 3.6.7.0

[2020-05-12 06:48] dpaulino commented on #63
Thanks for making an issue! I'll investigate this as soon as possible.

[2020-05-12 16:24] dpaulino commented on #61
Update now available

[2020-05-12 16:24] #61 closed

[2020-05-12 16:24] dpaulino commented on #59
Update now available

[2020-05-12 16:24] #59 closed

[2020-05-12 22:18] TonyHenrique commented on #60
Having these parameters:
![image](https://user-images.githubusercontent.com/6307623/81751193-55d7f900-9485-11ea-8076-804388b8e003.png)

I get this Exception

[2020-05-15 11:24] tipa opened #64 "Callback & Auth URL not visible by default in OAuth 2.0 window"
When clicking on the "OAuth 2.0" tab, the last to rows are missing when "Authorization code" is selected. I need to manually select "Client credentials" and then again "Authorization code"
![image](https://user-images.githubusercontent.com/2863198/82045424-5bb12280-96af-11ea-9150-d9b6eb2b6c0b.png)

[2020-05-15 11:25] tipa opened #65 "Implement refreshing access token for OAuth 2.0"
I am using the OAuth 2.0 feature in order to test Microsoft Graph endpoints. As the access token expires every hour I need to go through the auth process every hour. It would be nice if refreshing the auth token would be supported.

[2020-05-15 11:34] tipa opened #66 "Add options & buttons for collapsing & expaning JSON"
Sometimes I receive a very long JSON which makes it hard to navigate through it. It would be great if
- there was an option in the settings to have the JSON collapsed by default (currently the whole JSON is expanded)
- there was a button (perhaps next to the "Beautify" button) to collapse/expand the JSON when needed
- when collapsing a list, it would show the index of each element next to the coll

[2020-05-15 15:48] dpaulino commented on #60
The changes are now available in v3.6.10. Closing ticket, but please feel free to reopen it if you feel it's still not solving your issue!

I was thinking this as well. Perhaps I'll make "default" the default key string?

[2020-05-15 15:48] #60 closed

[2020-05-17 17:00] dpaulino commented on #62
@tipa when you say this, are you saying that the URL query does not have an image extension? or are you saying that the content type of the URL response is not `image/xxxx`? Or both?

[2020-05-17 17:04] dpaulino commented on #62
In other words, I'm wondering if you imagine a situation where you want to display an image even when the response's content type is not `image/xxxx`

[2020-05-17 17:05] tipa commented on #62
Right, the URL doesnt end with ".jpg".
In the specific case that I was missing this feature the header of the response did have the header set to "image/jpg" but I think the option could be visible regardless of the header

[2020-05-17 17:25] tipa opened #67 "Add button/setting to decompress GZIP-compressed data"
When specifying the header "Accept-Encoding: gzip, deflate", servers often respond with the response body compressed with GZIP  (or another accepted encoding specified in the request).
Fiddler offers a button to decompress the data:
![image](https://user-images.githubusercontent.com/2863198/82155263-e2166180-9873-11ea-9d4e-f837a8acc54e.png)

![image](https://user-images.githubusercontent.com/28631

[2020-05-18 20:27] dpaulino commented on #32
These crashes seem related to this issue in the winui repo: https://github.com/microsoft/microsoft-ui-xaml/issues/2465

[2020-05-19 12:42] treisska opened #68 "Alternate download not on Microsoft Store"
Is there a way to download Nightingale from another source?
I don't have access to Microsoft Store on my work computer and I guess people stuck on old versions of Windows would be happy too.

[2020-05-19 13:00] dpaulino commented on #68
Hi @treisska thanks for the question. At this time there is no alternate download outside the Microsoft Store. The reason is because Nightingale makes use of the store's payment SDK at the moment.

I have plans to address this, but I can't give a timeline right now unfortunately.

[2020-05-19 13:10] treisska commented on #68
Hello,

Thank you for your quick answer!
That's a shame, I guess I'm stuck with Postman for now.

[2020-05-19 13:10] #68 closed

[2020-05-19 18:01] electronic-dk opened #69 "Publish nightingale in winget"
Microsoft has announced a package manager for windows: https://devblogs.microsoft.com/commandline/windows-package-manager-preview/

It would be cool to have Nightingale published in this package management solution.

The packages should be submitted here
https://github.com/microsoft/winget-pkgs

[2020-05-19 18:08] dpaulino commented on #69
I'll investigate this soon. Looks like one option is that winget adds the ability to install store apps. As I do more research, please give a thumbs up for this issue: https://github.com/microsoft/winget-cli/issues/117

[2020-05-24 02:54] #62 closed

[2020-05-24 19:28] sylveon opened #70 "Feature request: import from curl"
Postman has a very useful feature where we can import a request by pasting a curl command:

![image](https://user-images.githubusercontent.com/6440374/82763071-d32f3200-9dd2-11ea-90dc-3d41bec995c7.png)

I would like to see this in Nightingale, as it makes importing from many online API docs or samples trivially easy.

We can copy a curl command from the web browser dev tools as well, and then past

[2020-05-24 20:51] Sergio0694 opened #71 "Improve UX for failed requests"
When trying to make a request to some invalid URL, the app will just internally crash and display the raw C# stack trace, which is not a good UX for users. Consider the following URL:

[code]

Nightingale will currently display the following:

![image](https://user-images.githubusercontent.com/10199417/82763636-7438df80-9e09-11ea-8222-ef3f8a68cd46.png)

It'd be nice if the app had some dedicated U

[2020-05-25 06:44] dpaulino commented on #63
hey @iBelow, for this issue, are you developing the endpoint yourself? It looks like Nightingale's error message is saying that the 401 returned by the endpoint doesn't include the `opaque` paremeter that is required by the Digest Authentication RFC instructions. I think Nightingale is operating correctly here, but it should probably provide a prettier error message rather than a stack trace (trac

[2020-05-25 06:50] dpaulino commented on #50
@prkhandelwal Out of curiosity, are you attempting to access a service that uses implicit flow? Or are you developing something yourself where you are implementing implicit flow?

[2020-05-25 07:53] prkhandelwal commented on #50
Hey @dpaulino , I was just learning about OAuth2.0 and experimenting with different workflows in IdentityServer4.

[2020-05-25 15:38] yoshiask opened #72 "Query parameters with the same key get merged into one parameter"
When I GET the following URL, it works fine in a browser, but in Nightingale the exact same URL produces an error from the API.
https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&vehicle=car&locale=en&calc_points=false&key={key}
![image](https://user-images.githubusercontent.com/7549325/82826899-cfe38700-9e62-11ea-8a21-47b69eb634f3.png)
![image](https://user-images.githubus

[2020-05-25 17:23] hansmbakker opened #73 "Feature request: Refit code generation"
I find [Refit](https://github.com/reactiveui/refit) very helpful to develop REST clients with.

It would be great if Nightingale could generate a Refit interface for the requests in a given workspace.

[2020-05-26 10:02] iBelow commented on #63
Hi, @dpaulino
i work with REST API for **Keenetic Routers**  (POST request)

just a couple of weeks ago I had no problems sending requests. And the problem on two computers persists. I also have more than 120 modems (Keenetic), the same error on both PCs

[2020-05-26 15:01] dpaulino commented on #63
Ah gotcha. I will investigate further, thanks

[2020-05-26 21:30] dpaulino commented on #72
Just reproduced the bug. Nightingale needs to not combine the two parameters into one. I will address this asap

[2020-05-27 01:41] nina1234 opened #74 "fix it"

[2020-05-27 02:34] #74 closed

[2020-05-28 08:51] dpaulino commented on #63
I have a pending update that will remove the exception when some digest header parameters are not found. I think that should resolve the issue.

[2020-05-28 18:45] shaqaruden opened #75 "Workspace Defaults"
Every api request within my workspace has the accept and content-type headers set and has bearer authentication. Currently I need to set these for every request within my workspace. Would be nice if I could set those defaults on the workspace level.

[2020-05-28 18:47] shaqaruden opened #76 "shortcut to insert env variable"
Coming from Insomnia I liked how I could press ctrl+space to bring up a list of my env variables to insert one into the current field. I really miss this.

[2020-05-28 20:42] dpaulino commented on #75
Good feedback thanks. With regards to auth, if you have requests inside a collection, the requests can inherit the auth of the collection. So you can set the collection to have bearer auth, and all direct children requests can inherit that bearer auth. Not sure if this works for your situation, but I wanted to mention it just in case.

I like workspace default suggestions though, thanks for that.

[2020-06-02 17:26] #49 closed

[2020-06-02 17:26] #50 closed

[2020-06-02 17:26] #63 closed

[2020-06-02 17:26] #64 closed

[2020-06-02 17:26] #65 closed

[2020-06-02 17:26] #72 closed

[2020-06-04 04:12] dpaulino commented on #69
Looks like the winget team is including Microsoft Store support in their v0.2 milestone due June 30th, 2020. When this lands, I will make sure to add Nightingale

[2020-06-04 21:11] iBelow commented on #63
Thanx! All work!

[2020-06-05 20:48] shaqaruden commented on #75
wow how did I miss that. Thanks

[2020-06-17 11:53] emiliano84 opened #77 "Add private/secret env variables"
Add a possibility to check an env variable as private/secret (maybe with a locker icon and asterisks to fill the value) and when you export a workspace their value is not saved into the json.

[2020-06-20 03:57] pinholucas opened #78 "Feature Request: F2 shortcut in Rename function"
It would be nice if you guys add this functionality. Also, I think that the border when the user are navigating in the Items list with arrow keys is too thick.

[2020-06-25 19:18] denelon commented on #69
The Store support feature https://github.com/microsoft/winget-cli/issues/117 will likely be released initially behind a feature toggle. We will likely only support "Free" apps rated "E" for Everyone. The good news is "The Nightingale REST API Client" meets these initial limitations.

[2020-06-29 11:27] paulovila opened #79 "Extension not supported swagger.json"
When I try to import a swagger file it says:
```Extension not supported | .json | swagger.json```
The file is like:
![image](https://user-images.githubusercontent.com/888391/85999219-b1dde900-ba03-11ea-97bf-d9ba52d49dbd.png)

[2020-06-30 05:55] yuwono95 opened #80 "Crash on 'User-Agent' header when value ends with slash '/'"
![error](https://user-images.githubusercontent.com/11877181/86088543-c340f700-bad0-11ea-8387-fac57c47efa8.png)

[2020-06-30 15:32] dpaulino commented on #80
Thanks for reporting this. I will look into it asap

[2020-07-01 19:22] BreeceW opened #81 "“All files” in file picker is not truly all files"
In the file picker for form uploads, there is a long list of extensions listed as “All files.” It would be tremendously useful if it showed every file instead of just those listed, as in `filePicker.FileTypeFilter.Add("*");` were selectable.

[2020-07-02 04:09] dpaulino commented on #81
Let me look into this. Our of curiosity, was there a specific file type you're looking to add that wasn't available?

[2020-07-02 05:09] BreeceW commented on #81
I was trying .appx at the time.

[2020-07-02 05:11] dpaulino commented on #79
Thanks @paulovila for the github issue! I will look into this soon.

[2020-07-04 14:47] TheMisir opened #82 "Exception throws when adding a header named "Authorization" (while auth is not None)"
I know I have to use Auth tab instead of manually providing authorization header. But overriding header instead of throwing exception would be better.

### Details

[code]

[2020-07-06 01:43] dpaulino commented on #82
Thanks for reporting this! I will look into it asap

[2020-07-06 10:53] berwyn opened #83 "Bungie.net OAuth Leads to "Cannot Connect to Service Error""
When attempting to use the built-in OAuth 2.0 feature, using OAuth for Bungie.net fails, leading to an error window (see attached). One thing I have noticed is that the window briefly flashes with the login flow, before showing this error, which I thought was particularly interesting!

![image](https://user-images.githubusercontent.com/1403744/86586382-cd8e4580-bf55-11ea-9cfe-b0da3f10d32c.png)

[2020-07-06 15:08] dpaulino commented on #83
Thanks for reporting this issue, I'll look into this soon!

[2020-07-07 12:10] einkunz opened #84 "Quick Edit Environments - Focus error"
![NightingaleError](https://user-images.githubusercontent.com/58507802/86778584-d61c7400-c05a-11ea-92d8-c35a439356c8.png)

Hi,

when I try to add one environment varibale (e.g. test) and I type in "test" fast, then Nightingale adds four entries, see screen.

I think it´s a focus problem, because nightingale adds a new row, when you fill en empty row and the new row gets a short focus.

[2020-07-07 19:02] dpaulino commented on #84
Thanks for reporting the issue. I've experienced this on occasion as well. I'll try to fix this asap!

[2020-07-08 03:49] dpaulino commented on #81
I changed this to allow all file types. Thanks for reporting the issue. This change will be available in the next update

[2020-07-08 03:56] dpaulino commented on #80
hey @yuwono95, just wanted to double check: are you saying that you want to use `Shipper/` as your user agent? Because I think `Shipper/` may in fact be an invalid user agent

[2020-07-08 04:29] dpaulino commented on #78
Just tried to implement this but the UX was subpar. Needs the changes that are coming Nightingale 4.0. I'll revisit this once Nightingale 4.0 is stable. Sorry for the delay

[2020-07-08 04:42] dpaulino commented on #82
hey @TheMisir, just to confirm, do you get this issue when you specify an Authorization header *and* you select one of the authentication options under the `Auth` tab? So in other words, you have this:
![image](https://user-images.githubusercontent.com/7649589/86876942-ab521000-c09a-11ea-893a-7f254247f0e8.png)

and this:

![image](https://user-images.githubusercontent.com/7649589/86876966-b7d66880

[2020-07-08 06:57] TheMisir commented on #82
Yes exactly

[2020-07-08 06:59] dpaulino commented on #82
Which authorization would you expect Nightingale to use in that scenario? The authorization header or the auth options in the `Auth` tab?

[2020-07-08 09:45] TheMisir commented on #82
I'm not sure. You might just show a warning instead of exception and maybe not send request.

[2020-07-08 10:18] einkunz opened #85 "Feature Request: Add Path Parameters per Call"
![image](https://user-images.githubusercontent.com/58507802/86906903-869a7e80-c114-11ea-8d2f-8abe7f94f063.png)

it would be nice if it would be possible to define the path parameters in a call. Then it´s easy to activate/deactivate different values.

[2020-07-08 11:28] yuwono95 commented on #80
Yes, I need to implement API from https://shipper.id . It is required. I've tried it with another REST client (postman) and its working.

[2020-07-09 05:51] dpaulino commented on #82
I decided to ignore the custom authorization header if an auth setting is enabled. I've also added a message that pops up when this scenario occurs.
![image](https://user-images.githubusercontent.com/7649589/87001913-7662bd80-c16d-11ea-99e3-e45f401edfeb.png)

[2020-07-09 06:17] dpaulino commented on #80
Turns out this was a bug in Nightingale. Big thanks @yuwono95 for reporting this issue. The fix will be coming in the next release.

[2020-07-09 06:31] yuwono95 commented on #80
OK, glad to hear that. Thanks.

[2020-07-09 06:31] #80 closed

[2020-07-09 08:21] dpaulino commented on #77
Coming soon!

[2020-07-09 09:17] einkunz opened #86 "Feature Request: Inherit parameters downwards"
It would be nice if it was possible to add an parameter (Query, Header, Path) to a collection and inherit it downwards. (Like in the Window Store App "Project Rest")

**For example:**
I have a collection with 10 calls. Now i want to add an header parameter to all calls.
It would be nice if I can add it to the collection and inherit it downwards
For that, there can be 3 Buttons next to every parame

[2020-07-09 12:27] TheMisir commented on #82
Ok, good luck.

[2020-07-10 17:59] dpaulino commented on #85
@einkunz This is a cool idea! Just to confirm, would only 1 value be activated at a time?

[2020-07-10 18:18] einkunz commented on #85
Hi, yes, one value per Parameter/key. IT should be possible to have more than one Path Parameter.

[2020-07-10 18:46] shaqaruden opened #87 "HttpClient error when sending any request"
With a fresh install I am getting this error. All I have done is created a Workspace and a collection
![image](https://user-images.githubusercontent.com/5414897/87188026-1d556f80-c2bc-11ea-9a84-6f7b97858af6.png)

[2020-07-10 18:54] #87 closed

[2020-07-10 20:39] dpaulino commented on #87
@shaqaruden did you close this accidentally?

[2020-07-11 01:56] shaqaruden commented on #87
no this was the solution

https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2020-07-11 02:00] dpaulino commented on #87
Sorry about that. I have a task to improve the error messages. Glad you found the solution.

[2020-07-11 02:58] dpaulino commented on #83
@berwyn dumb question but can you send a link for bungie's APIs? I'd like to reproduce this issue myself

[2020-07-11 03:02] dpaulino commented on #79
@paulovila did some investigations. Looks like you're trying to import a swagger v2 json file, which Nightingale does not support right now. It only supports swagger/openapi v3 yaml files.

[2020-07-11 03:03] dpaulino commented on #79
If you'd like, we can rename this issue to "add support for swagger v2 json import" and I can try to add this when I get some time

[2020-07-11 03:39] berwyn commented on #83
The page that'd probably be most helpful is their [OAuth documentation](https://github.com/Bungie-net/api/wiki/OAuth-Documentation), but the overall docs are [here](https://bungie-net.github.io/multi/index.html)

[2020-07-11 10:26] einkunz commented on #85
Hi, here is another suggestion.
Maybe you can merge the parameter tabs (Path, Query and Header), to have less tabs, and make the type selectable.

![image](https://user-images.githubusercontent.com/58507802/87222134-9793fb80-c371-11ea-918e-e8b407ae1cbf.png)

[2020-07-12 17:03] #77 closed

[2020-07-12 17:03] #81 closed

[2020-07-12 17:03] #82 closed

[2020-07-13 18:37] dpaulino opened #88 "Crash occurs when duplicating a request"
Seems to only occur when there is a cancelled response in the request being duplicated. May need more investigation

[2020-07-14 22:54] rwrife opened #89 "Need integration with Chrome/Edge for traffic capture and replay..."
It would be nice to have a chrome plugin that would allow me to send requests from the Network tab over to the Nightingale client to replay the requests for testing or just capturing any auth tokens that would be needed for follow-up requests.

[2020-07-17 07:10] dpaulino commented on #86
I added queries and headers to collections. These values will be inherited by request children. Looking forward to your feedback on this once it releases over the next few days
![image](https://user-images.githubusercontent.com/7649589/87758735-ddadec80-c7c1-11ea-88e4-2bd8d1b137f4.png)

[2020-07-20 14:45] #88 closed

[2020-07-20 14:46] #86 closed

[2020-07-20 14:46] #76 closed

[2020-07-27 15:42] dpaulino opened #90 "Double click request/collection to rename"

[2020-07-27 19:10] dpaulino opened #91 "Bug: Tabs sometimes don't get focus when you open it"
Workaround: restart Nightingale.

Issues reported
- First time launching Nightingale 4 > click on request > tab opens but doesn't get focus
- Switch to workspace with no tabs open > click on request > tab opens but doesn't get focus

[2020-07-29 08:41] nikobiker12 opened #92 "Swagger import does not w work"
I have a swagger (openapi) file v2 below in a zip file
[swagger.zip](https://github.com/jenius-apps/nightingale-rest-api-client/files/4993701/swagger.zip)

Whyen I try to import the json decompresed file, I get extension not supported
![image](https://user-images.githubusercontent.com/10908853/88777807-f0440080-d187-11ea-9a39-acd5bbd26a51.png)

BTW it would be glad to have tthe ability to import i

[2020-07-30 05:08] dpaulino commented on #32
Marking this as closed and obsolete because Nightingale 4 changed the UX when creating a request.

[2020-07-30 05:08] #32 closed

[2020-07-31 07:35] dpaulino commented on #91
Bug was caused by event handlers not being disposed correctly. Thanks for reporting this issue!

[2020-08-01 01:05] dpaulino opened #93 "Add feature to base64 encode, md5, sha1 hash, etc strings in queries/headers"
![image](https://user-images.githubusercontent.com/7649589/89090545-6ac37a80-d358-11ea-8d4f-7874563b726a.png)
![image](https://user-images.githubusercontent.com/7649589/89090550-7151f200-d358-11ea-946d-da6b3f648901.png)

[2020-08-03 00:48] dpaulino opened #94 "URL bar sometimes does not expand when focused on"
Video recording of bug: https://streamable.com/xedcj7

[2020-08-04 14:20] #94 closed

[2020-08-04 14:20] #91 closed

[2020-08-05 19:43] #75 closed

[2020-08-05 19:46] shaqaruden opened #95 "Ctrl + Space to fill env vars"
In the last REST client I used I could press Ctrl + Enter in the address bar and fill environment variables. They were also pill style for a cleaner look.

[2020-08-06 09:15] niteshrestha opened #96 "request with a document file in form-data results in Exception"
## Brief summary of the bug
Cannot send a request with file in form-data.

## What you expect to happen
I expect 200 OK with JSON response
![image](https://user-images.githubusercontent.com/4751915/89514242-53bbd700-d7f5-11ea-849d-2083fb1a908c.png)

## What actually happens
Trying to send a request with file in form-data results in an exception below
![image](https://user-images.githubusercontent.

[2020-08-06 16:39] dpaulino commented on #96
Thanks @niteshrestha I will look into this soon. Sorry again for the trouble

[2020-08-07 02:49] dpaulino commented on #96
@niteshrestha I just tried your repro steps with a json file and my POST seemed to succeed:
![image](https://user-images.githubusercontent.com/7649589/89603379-da84aa00-d81d-11ea-8525-a60f9bef5e3e.png)

What Content-Type are you using there? It's cutoff so I can't see the entire thing. I wonder if that makes a difference

[2020-08-07 03:01] niteshrestha commented on #96
@dpaulino I was sending a Microsoft Word Document with Content-Type application/vnd.openxmlformats-officedocument.wordprocessingml.document
I have attached a sample document if needed
[PaserTest.docx](https://github.com/jenius-apps/nightingale-rest-api-client/files/5039084/PaserTest.docx)

[2020-08-07 03:05] dpaulino commented on #96
@niteshrestha Thanks for that. I can reproduce this now.
![image](https://user-images.githubusercontent.com/7649589/89604436-1fa9db80-d820-11ea-9475-3d151922ac72.png)

[2020-08-07 03:30] dpaulino commented on #96
I set up a local ASP.NET core server that will receive the file. Looks like the server receives the file properly:
![image](https://user-images.githubusercontent.com/7649589/89605953-b035eb00-d823-11ea-96db-81769a202ab7.png)

How are you determining if the file was received?

[2020-08-07 03:54] niteshrestha commented on #96
Here is how I am doing
![image](https://user-images.githubusercontent.com/4751915/89607185-9df29600-d891-11ea-8d56-6a2b9ca18366.png)

[2020-08-07 04:10] niteshrestha commented on #96
@dpaulino I have made a repo with the code if it help. I can't seem to hit a breakpoint too. https://github.com/niteshrestha/NightingaleRESTClientTest

[2020-08-07 04:30] dpaulino commented on #96
Thanks for the sample repo. I found the bug, but it's not what it seems.

There's nothing wrong with Nightingale's ability to send a file. See here that I was able to take your sample repo and it received the docx file just fine:
![image](https://user-images.githubusercontent.com/7649589/89608772-e1fe8000-d82a-11ea-9cf1-c4a64e9c46e0.png)

The bug is that Nightingale does not change the "form data"

[2020-08-07 04:31] dpaulino commented on #96
I'll fix this asap

[2020-08-07 04:37] niteshrestha commented on #96
@dpaulino can confirm I was able to get the response as expected when starting from scratch. Also I had noticed previously that when I switched to body and selected form-data in different tab it was populated with the file already there.
Thank you for looking into it.

[2020-08-07 04:54] dpaulino commented on #96
Good to hear you were able to confirm the bug and the workaround.

I just fixed it btw. The updated package will be submitted to the store as soon as it finishes compiling. Thanks very much for your help troubleshooting this issue!

[2020-08-07 04:56] niteshrestha commented on #96
Thank you for your quick response. 👍

[2020-08-07 15:48] dpaulino commented on #95
To clarify, do you mean Ctrl Space?

[2020-08-07 22:25] dpaulino opened #97 "Auto switch from two-column mode to single-column when resizing to narrow window"
![image](https://user-images.githubusercontent.com/7649589/89693035-26892a80-d8c2-11ea-88d5-36ff1b03d445.png)

[2020-08-07 22:25] dpaulino opened #98 "Add indent column guide to json"
![image](https://user-images.githubusercontent.com/7649589/89693065-3ef94500-d8c2-11ea-827b-9b7744fb2916.png)

[2020-08-10 15:02] dpaulino commented on #96
Now available in the store

[2020-08-10 15:02] #96 closed

[2020-08-13 21:02] tboggs13 opened #99 "Add native support for Windows on ARM."
The product already works well on Surface ProX in x32 mode, but would like to see the enhanced performance of full ARM64 native compatibility.

[2020-08-16 16:09] dpaulino commented on #99
Hit a snag with this. adding arm64 doubles the build time, so my CI builds are failing due to the time limit. Pausing work on this for now as I try to investigate options around the build timeouts.

[2020-08-18 22:34] dpaulino opened #101 "Time elapsed not updating in collection page"
![image](https://user-images.githubusercontent.com/7649589/90572179-480ecf80-e168-11ea-8664-0694fc57036a.png)

[2020-08-21 18:48] dpaulino opened #102 "Add automatic occasional save to avoid lost data"

[2020-08-21 19:11] dpaulino opened #103 "Add js pre- and post-script execution"
Might be able to use this: https://github.com/paulbartrum/jurassic

[2020-08-27 08:50] einkunz opened #104 "Save responses into the workspace"
Hi,

it would be nice to have a additional tab (Items, History, **Responses**) where I can store (json) responses inside the workspace.

![image](https://user-images.githubusercontent.com/58507802/91418559-9865eb80-e852-11ea-8e61-0fbeef7ec9a9.png)

![image](https://user-images.githubusercontent.com/58507802/91418831-fbf01900-e852-11ea-84e4-48c6d9caab86.png)

[2020-08-27 17:48] dpaulino commented on #104
Interesting idea! What use case were you thinking for this? How would you use it?

[2020-08-28 01:51] Kirlac opened #105 "Set-Cookie header is being ignored"
I'm debugging some controller actions in an old MVC project which uses session cookies and it seems the [Set-Cookie header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie) in the response is being ignored.

This isn't a major issue as it can be copied in manually as a workaround but a compliant HTTP client should probably be honoring this header and setting the cookie automat

[2020-08-28 05:13] dpaulino commented on #105
Thanks for reporting this. I'll look into it as soon as possible

[2020-08-28 14:54] mikebaz opened #106 "Cannot use built-in OAuth2 authentication against Azure AD?"
Hello!  It appears that it's impossible to use the built-in OAuth 2.0 authentication to get a token from Azure AD.

Some testing shows that the token returned from Azure AD has an incorrect "aud" (audience) claim.  Normally that claim would be populated based on what's passed in the query string against the access token endpoint - for example:

`https://login.microsoftonline.com/{tenant guid}/oaut

[2020-08-28 15:35] dpaulino commented on #106
I'll look into this soon. Thanks for reporting!

[2020-08-31 08:14] Kirlac commented on #105
No rush - the workaround of copying it from the response header to the cookies is more than sufficient to get the job done.

Also I don't know if it makes any difference or not but this was for an asp.net MVC server running on localhost. Feel free to let me know if you need any more details or anything.

[2020-08-31 20:35] einkunz commented on #104
Hi, to save important json responses directly in the app.
So I can access successful responses and do not have to execute the calls again and again.

[2020-09-05 17:57] sebbouez commented on #67
Hello @dpaulino
Is this feature on your roadmap?
It would be perfect to stop using Fiddler aside.

Thank you!

[2020-09-07 07:53] a121984376 opened #107 "can not request localhost"
https://user-images.githubusercontent.com/15758574/92362264-51b1a480-f122-11ea-81fd-d9d1fd959d2a.png
An error occurred while sending the request.
   at System.Net.Http.HttpClientHandler.<SendAsync>d__113.MoveNext() + 0x361
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.Com

[2020-09-08 01:11] TheMisir commented on #107
Take a look at [localhost.md](https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md).

[2020-09-08 01:17] TheMisir opened #108 "Feature request: Paste cURL to fill details"
It's not mandatory but might be a cool feature.

1. Copy curl command from some website
2. Open Nightingale

3.a. Check clipboard when window state changes (becomes active). If clipboard contains "curl .." then ask user if he/she wants to open a new tab with filled headers/body etc.
3.b. Or when user presses "Ctrl + V" key combination check if the text in clipboard is curl comment. Then open a new

[2020-09-08 04:45] niteshrestha opened #109 "add ability to resize panes vertically in single-column view"
Cannot resize panes vertically when in single column view
![rest](https://user-images.githubusercontent.com/4751915/92433882-0baa1e80-f1be-11ea-9c00-d743addb6119.gif)

[2020-09-08 04:46] niteshrestha commented on #109
nevermind I was able to vertically resize panes once the content overflowed.

[2020-09-08 04:46] #109 closed

[2020-09-08 15:43] dpaulino commented on #107
@a121984376 as @TheMisir said, have you taken a look at the localhost troubleshooting doc?

[2020-09-08 15:44] dpaulino commented on #108
Cool idea! I know postman lets you import from curl as well. Thanks for the feature request

[2020-09-08 15:50] dpaulino commented on #67
@sebbouez yes I'll be working on this! Can't make promises on ETA though, since I'm dealing with life events (good things!) at the moment.

[2020-09-08 20:22] tipa opened #110 "App crashes when trying to import .ncf file via drag&drop"
- Freshly installed Nightingale v4.1.2.0
- Pause OneDrive manually (on my PC is was paused automatically because my laptop was in energy saving mode)
- Click "Import"
- Drag&drop .ncf file (not downloaded) from OneDrive (in Windows Explorer) into Nightingale
- Crash

Seems like Nightingale cannot handle the OneDrive placeholder file.

[2020-09-08 20:48] dpaulino commented on #110
@tipa thanks for reporting this. Does selecting via file browser dialog work normally?

[2020-09-08 21:12] tipa commented on #110
No, the "open" button is disabled when using the Windows dialog. It's not possible to work anyways as the file is online-only and the OneDrive app cannot download it as syncing is paused.

[2020-09-08 21:18] dpaulino commented on #110
Ahh, I understand better now. I'll try to repro this soon to handle the OneDrive placeholder file.

[2020-09-09 06:17] a121984376 commented on #107
Thanks both of u

i fixed

[2020-09-09 16:46] #107 closed

[2020-09-11 02:51] dpaulino commented on #110
Note to self
![image](https://user-images.githubusercontent.com/7649589/92848404-0ce67180-f39f-11ea-9c15-36067a784c44.png)

[2020-09-14 05:38] a121984376 opened #111 "Can Add Zoom in Or Zoom out?"
Can Add Zoom in Or Zoom out?

Or
Change App Font Size?

Thanks

[2020-09-14 07:07] dpaulino commented on #111
If you're using a mouse, I believe you can press Ctrl+mouse scroll to zoom in/out when viewing a response. Have you tried this? And if so, does it address your scenario?

[2020-09-14 07:11] a121984376 commented on #111
hi  thanks for response.

I mean the func menu~~~

![image](https://user-images.githubusercontent.com/15758574/93054779-7a92e600-f69c-11ea-8c71-fe2cbece3c31.png)

[2020-09-14 08:09] tipa commented on #102
Would highly appreciate it. I keep forgetting to save and the next day all my requests are gone again and it's so time-consuming to enter it all back in

[2020-09-14 08:11] tipa opened #112 "Don't collapse Url field"
I am often working with very long URLs that span multiple lines in the URL field.
Unfortunately whenever I focus another textfield, that URL field collapses back to 1 line and I can't see the parameters any more. It would be better if it stayed expanded.

[2020-09-14 21:39] denelon commented on #69
`winget search nightingale` will display the Microsoft Store version of Nightingale (if you have the experimental feature enabled).

`winget install "Nightingale REST Client"` will install it by name
`winget install 43891JeniusApps.NightingaleRESTAPIClient` will install it by ID

[2020-09-15 03:18] J1nVel opened #113 "希望可以出一个中文版，或者可以提供一个中文界面选项"

[2020-09-16 02:42] dpaulino commented on #113
This is one of the most requested features. I hope to add chinese language support soon!

[2020-09-17 19:00] myokeeh opened #114 "Canon CCAPI Digest Authentication"

[2020-09-17 19:06] dpaulino commented on #114
Thanks for the report. I'll look into this as soon as possible!

[2020-09-19 19:19] cherepets commented on #11
Still getting same error

[2020-09-21 05:30] dpaulino commented on #110
Now handling this error
![image](https://user-images.githubusercontent.com/7649589/93735141-cc51d980-fb90-11ea-9f5e-a17151183a9a.png)

[2020-09-21 06:50] dpaulino commented on #102
Adding an auto save feature with an interval of 5 minutes. This can also be disabled in settings if people want to.

[2020-09-22 02:30] dpaulino commented on #105
Found the issue. Thanks for spotting this. Fix will be available in the next update.

[2020-09-22 02:52] dpaulino commented on #69
Just tested out the experimental feature and it works great! Thanks @denelon!! I also created this doc for users who want to install Nightingale via winget: https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/winget.md

[2020-09-22 02:59] dpaulino commented on #69
@electronic-dk thoughts on keep this open until this feature leaves the experiment phase of winget?

[2020-09-22 20:39] electronic-dk commented on #69
@dpaulino I'm cool with that. Thanks for the update, I'll try to install nightingale via winget soon.

[2020-09-22 21:56] dpaulino opened #115 "Add URL decoder feature for response"
![image](https://user-images.githubusercontent.com/7649589/93941532-86f1f100-fce3-11ea-9289-22cd658370ba.png)

Sample request with a response that should be decoded:
GET https://www.youtube.com/get_video_info?video_id=ZB_vm0fGvCA

Expected response:
`cosver=10.0&host_language=en&csi_page_type=embed&vss_host=s.youtube.com&fexp=23727261,23735348,23744176,23804281,23839597,23856950,23857949,23858057,

[2020-09-22 22:00] dpaulino commented on #115
Clarification: Matthew wants to turn the response from an encoded plain text to a decoded list UI

[2020-09-24 16:38] #67 closed

[2020-09-24 16:38] #101 closed

[2020-09-24 16:38] #102 closed

[2020-09-24 16:38] #105 closed

[2020-09-24 16:38] #110 closed

[2020-09-24 22:38] dpaulino commented on #106
@mikebaz I'd like to reproduce this. Do you have a doc somewhere that I can use to set up something similar to what you have in azure and then I'll try to reproduce the issue?

[2020-09-25 12:17] mikebaz commented on #106
Hello @dpaulino , thanks for reaching out about this.  Although you can really try any request against the ARM APIs, the specific one I was using was:

https://management.azure.com/subscriptions/_subscriptionid_/providers/Microsoft.Network/virtualNetworks?api-version=2018-07-01

To have this work, I'm currently using a manual Authorization header with a "Bearer _token_" value.

For the failing OAu

[2020-09-27 04:48] dpaulino commented on #112
Adding an option to always keep URL text wrapped and expanded. Hope this will suffice! Coming in the next update
![image](https://user-images.githubusercontent.com/7649589/94356329-0d8b3300-0042-11eb-891b-93b7da99eae3.png)

[2020-09-28 07:28] tipa opened #116 "Network requests cannot be intercepted by network traffic tools like Fiddler"
Sometimes I have the requirement to see the network requests that Nightingale sends out in Fiddler to exactly see what headers it sets or what response I get back. Unfortunately that doesnt work and the app shows: A security problem occurred.

Also when using the OAuth 2.0 flow while having Fiddler running, the auth window displays an error. This can be prevented by creating your own auth window i

[2020-09-28 07:31] tipa opened #117 ""Grant type" defaults back to "Client credentials""
For many requests (to the MS Graph) I am using the OAuth 2.0 `Authorization code` flow. However, often when I navigate between my requests (select another request, then back to the original one), instead of `Authorization code`, the dropdown has `Client credentials` selected.

[2020-09-28 07:36] tipa opened #118 "OAuth 2.0 Authentication code flow stopped working"
I cannot get an access token using OAuth 2.0 any more with v4.1.3.0, I think it worked on the previous version. Because of #116 I also cannot see what exactly is wrong in the requests

![image](https://user-images.githubusercontent.com/2863198/94403526-e0d43a00-016d-11eb-8f72-ffada4c14e21.png)

[2020-09-29 05:38] delzac commented on #11
Hi, i'm also getting exceptions when connecting to localhost.
[code]

[2020-09-29 11:53] agund opened #119 "Websocket support"
It would be nice if the application allows to connect via websockets, so that testing with websockets is also possible.

[2020-09-29 16:21] dpaulino commented on #11
Have you tried the instructions here? https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2020-09-29 16:22] dpaulino commented on #11
![image](https://user-images.githubusercontent.com/7649589/94585698-39223f00-0235-11eb-98e0-71b08746fc43.png)

[2020-09-29 17:07] #112 closed

[2020-09-30 03:50] dpaulino commented on #116
Have configured fiddler to work with AppContainer-based apps? https://docs.telerik.com/fiddler/configure-fiddler/tasks/ConfigureFiddlerForWin8

[2020-09-30 04:38] delzac commented on #11
@dpaulino Hi, thanks for the suggestion, i just tried it, didn't work. Don't know why. But its okay, i can life with that. No big deal.

Thank for creating the app too, its really great to use :)

[2020-09-30 04:43] dpaulino commented on #11
What does your localhost url look like? And just to double check, you tried turning off ssl validation in Nightingale's settings?

[2020-09-30 05:47] delzac commented on #11
Yup, i switched off SSL validation and it still didn't work. Restart my computer too.

The url i used was `http://localhost/gec/?text=Hi` i also tried `http://127.0.0.1/gec/?text=Hi` didn't work too.

![image](https://user-images.githubusercontent.com/19370780/94647605-677e4800-0323-11eb-869e-b7d10d27c0b2.png)

[2020-09-30 06:19] dpaulino commented on #11
@delzac what's running on your localhost? An ASP.NET Core app?

[2020-09-30 06:22] delzac commented on #11
Hi @dpaulino, i'm running Python 3.6 on [Uvicorn](https://www.uvicorn.org/) with [FastAPI](https://fastapi.tiangolo.com/).

Thanks for taking the time out to maintain this :)

[2020-09-30 06:26] dpaulino commented on #11
@delzac no problem! Any chance you can set up a github repo that is configured the same way as your python project with a quick readme on how to run it on local host? I'd like to try to reproduce this.

[2020-09-30 06:28] delzac commented on #11
@dpaulino suret thing! Would a docker image be better or do you prefer the github repo with instructions?

[2020-09-30 06:29] dpaulino commented on #11
@delzac github repo with instructions would be best. Thanks in advance

[2020-09-30 06:30] delzac commented on #11
@dpaulino Okay! I'll get back to you here again once its up :)

[2020-09-30 07:28] dpaulino commented on #118
Thanks for spotting this. Issue was a bug with how the callback url was being escaped. Fix incoming

[2020-09-30 07:31] dpaulino commented on #11
@delzac whenever you're ready, can you share your repo link using a new issue? It will be easier to track investigations on your specific scenario in a new issue

[2020-09-30 08:14] tipa commented on #116
Yes I did that and it's working perfectly when debugging web requests from my app - but not for Nightingale.
Does it work for you?

I checked the checkbox here:
![image](https://user-images.githubusercontent.com/2863198/94660250-b917da00-0305-11eb-85e5-e3206fd0e278.png)

[2020-09-30 11:23] patriksvensson opened #120 "Collapsable side panel"
It would be great if the side panel where items and history is could be collapsed.

[2020-09-30 15:06] patriksvensson commented on #120
Aaah, I didn't even notice it. Was looking for something in the left panel. Thanks.

[2020-09-30 15:06] #120 closed

[2020-09-30 15:07] tipa commented on #116
Sure :)

[2020-09-30 15:07] #116 closed

[2020-09-30 16:34] TheMisir opened #121 "Custom authentication header is not supported."
I wanted to send request to Firebase Cloud Messaging endpoint which requires custom auth header. But nightingale crashed when I set `Authorization` header with non-standard value.

FCM auth header looks like that:

[code]

Error message:

[code]

**How to fix?**

I would suggest adding headers without validation instead of validating. This sort of assertions are not necessary for REST client I thi

[2020-09-30 16:35] dpaulino commented on #121
Thanks for spotting this. I'll address asap

[2020-10-01 05:05] dpaulino commented on #121
Note to self.

Trying to find the root cause of this issue. It appears that the dotnet httpclient is purposefully throwing that format exception because it is attempting to adhere to the http standard according to this post: https://stackoverflow.com/a/29587268/10953422.

So this is invalid
![image](https://user-images.githubusercontent.com/7649589/94770129-b13d5180-0368-11eb-946a-7d07bcf78f76.png

[2020-10-01 05:26] dpaulino opened #122 "Add support for using certificates in the request"

[2020-10-01 14:59] delzac commented on #11
Hi @dpaulino I double checked and realised that the worldaround works! I so so so sorry for taking up your time.

The issue was that i didn't add the `port 8000` into the url. LOL. With `http://localhost:8000/` everything worked fine.

Once again, thank you for taking the time out to help and create this app. :)

[2020-10-02 15:02] #117 closed

[2020-10-02 15:02] #118 closed

[2020-10-02 15:02] #121 closed

[2020-10-04 00:53] sswires opened #123 "Insomnia importer does not transfer environment variables"
When importing a workspace export from Insomnia, it will import the individual requests with the correct verbs but it will not transfer the environment variables from the imported workspace. I have confirmed that the environment settings are in the exported JSON from Insomnia.

**Steps to Reproduce:**
1. Install Insomnia
2. Create a new workspace
3. Configure two environments that set the same var

[2020-10-04 00:59] sswires opened #124 "Cannot import from Insomnia when using the "All Workspaces" option"
In Insomnia, you can export the current workspace or all workspaces. If you export using "All Workspaces" then Nightingale will refuse to import the file with the error message:

Unknown import error. Please create a new issue on GitHub! Error message: Error reading string.
Unexpected token: StartObject. Path 'data.appid'.

I also had to manually type this out because I couldn't see a way to copy

[2020-10-05 02:22] jagadeesh32 opened #125 "POST with Json not working"
i am getting this error when i test a endpoint.  in other rest clients, it is working fine.  please resolve this issue.

[code]

[2020-10-05 03:12] dpaulino commented on #125
Can you share your post body?

[2020-10-05 03:37] dpaulino commented on #125
And can you share your url? I'd like to reproduce this error so I need enough details to reproduce it

[2020-10-05 06:24] dpaulino commented on #124
I just tried to reproduce this but I couldn't. I was actually able to import workspaces into Nightingale successfully. Here's a video: https://streamable.com/z1dnek.

I'm wondering if there's something in your data that isn't being parsed correctly. To confirm this suspicion, can you try importing the same file that I used? If this import is successful for you, then I think there may be a bug with

[2020-10-05 06:25] dpaulino commented on #124
Also, what export format does you file show? Here's the export format of the file I used:
![image](https://user-images.githubusercontent.com/7649589/95046334-d8fa2580-0698-11eb-9e8f-fffd08051911.png)

[2020-10-05 07:29] prkhandelwal opened #126 "Import postman collection directly from links"
Right now, if someone share a postman collection link, downloading it directly doesn't work. I first need to import it in postman and then export locally, and then import in Nightingale. Would be nice if we can directly import a collection from the shared uri!

[2020-10-05 16:06] adrynalyne opened #127 "Improve UI/UX after successful import."
I have a Windows machine that I exported everything from Nightingale to a .ncf file. When I go to import it in Windows on another machine, I get a message that its ready for import but nothing actually happens when I close the window.

![image](https://user-images.githubusercontent.com/246382/95103795-ed1a4300-06e9-11eb-9366-49f612a52056.png)

![image](https://user-images.githubusercontent.com/246

[2020-10-05 16:09] dpaulino commented on #127
Click on the workspace drop down to see if your imported workspace was there
![image](https://user-images.githubusercontent.com/7649589/95104291-7fbae200-06ea-11eb-991b-113d898227da.png)

[2020-10-05 16:10] dpaulino commented on #127
If it's there, then I'll file this as a UX/UI bug. Nightingale should do better at telling you where to find the import or automatically opening your imported workspace. Let me know if it's there

[2020-10-05 16:11] adrynalyne commented on #127
Sadly, it only has Base listed and nothing else.

[2020-10-05 16:12] dpaulino commented on #126
@prkhandelwal can you check if your request is the same as https://github.com/jenius-apps/nightingale-rest-api-client/issues/27?

[2020-10-05 16:14] adrynalyne commented on #127
Wait!  Sorry, you are right, its there as you said it would be.

[2020-10-05 16:16] dpaulino commented on #127
Phew, ok! I'll treat this as a UI/UX bug.

[2020-10-06 09:19] gilmishal opened #128 "Set Environment variable from response"
I think title is self explainatory, but basically I would love the ability to set an environment variable (such as token) based on a response to a request getting a token. (or even better, an ability to run an authentication request if no token is set, or if the response is 403/1, and then rerun the request).

[2020-10-06 13:55] dpaulino commented on #128
If I understand you correctly, this might be what you are looking for https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/variablechaining.md

[2020-10-06 17:20] gilmishal commented on #128
Yeah, that's it. Thanks.
I would suggest improving the UX, making it easier to find for people who are unaware, but it's not really that important

[2020-10-06 17:59] dpaulino commented on #128
Agreed on improving the UX to teach people where certain features live. I have plans to improve this across the app. I'll close this ticket for now though. Thanks for reaching out!

[2020-10-06 17:59] #128 closed

[2020-10-07 04:28] prkhandelwal commented on #126
@dpaulino I think it's a bit different. From what I understood, the #27 is about handling Posmtman URI (Looks like invite link from description) . What I'm mentioning is simply a paste url option the app for shared collection's public link. Something like:

![image](https://user-images.githubusercontent.com/12965931/95287461-95afda80-0883-11eb-9e23-452399fb1f48.png)

[2020-10-07 04:55] dpaulino commented on #126
@prkhandelwal oh yes I see the difference now! Thanks for helping clarify! I'll look into this feature request soon

[2020-10-07 17:35] dpaulino opened #129 "Bug with theme + background when switching OS theme"
Repro:
- change Nightingale theme colour to system settings
- select any background
- close app
- change OS theme
- open Nightingale
- observe mismatched theme and background
![image](https://user-images.githubusercontent.com/7649589/95366825-ce9e7e00-0888-11eb-8425-70b714e23edb.png)

[2020-10-13 10:07] pedroemonteiro opened #130 "Problem updating workspace variables"
I'm having a problem where using the response.Body.var_name from a JSON response is not correctly updating the workspace.

The workspace variable is being cleared but the response value is not being used.

I have two screenshots of the issue. Any idea of what might be wrong?

![InkedScreenshot 2020-10-13 110400_LI](https://user-images.githubusercontent.com/27056844/95847179-516d8000-0d44-11eb-87ad

[2020-10-13 14:18] dpaulino commented on #130
I'll investigate this asap

[2020-10-13 15:40] pedroemonteiro commented on #130
Do you mean in the body itself or on the workspace Chain strings? As far as I can tell, I don't have one.

[2020-10-18 07:11] dpaulino commented on #108
There's been a lot on my plate for Nightingale, so to help speed things along, it'd be great if someone can help implement a curl-to-nigtingale converter. Once complete, I can quickly build a UX/UI for this functionality. Here's a stub that someone can build off of: https://github.com/jenius-apps/nightingale-core/blob/master/src/Nightingale.Converters/Curl/ICurlConverter.cs

[2020-10-18 07:16] dpaulino commented on #108
The work involved for this task would be:
- create a `CurlConverter` class that implements `ICurlConverter`.
- review the existing postman converter [here](https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Converters/Postman) for an example

[2020-10-18 11:09] TheMisir commented on #108
I found a MIT licensed [github repo](https://github.com/olsh/curl-to-csharp) which contains code for parsing curl command line arguments.

[2020-10-18 17:04] dpaulino commented on #108
That's great. Perhaps we can convert the string to c# using that library, then convert from that lib to Nightingale.

[2020-10-18 17:23] dpaulino commented on #108
@TheMisir were you interested in taking a crack at this? If so I can assign it to you. No worries if not though. Just want make it clear to potential contributors if the task is assigned to someone.

[2020-10-18 18:03] dpaulino commented on #92
I just open sourced Nightingale's swagger/openapi converter code. If anyone wants to help fix this bug, I'd be extremely grateful! Here is the swagger code: https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Converters/Swagger

[2020-10-18 18:03] dpaulino commented on #79
I just open sourced Nightingale's swagger/openapi converter code. If anyone wants to help add this feature, I'd be extremely grateful! Here is the swagger code: https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Converters/Swagger

[2020-10-18 18:04] dpaulino commented on #123
I just open sourced Nightingale's insomnia converter code. If anyone wants to help fix this bug, I'd be extremely grateful! Here is the insomnia code: https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Converters/Insomnia

[2020-10-18 18:08] dpaulino commented on #70
Some work for this will overlap with https://github.com/jenius-apps/nightingale-rest-api-client/issues/108. I'll keep this open for now, but once any curl import feature is in nightingale, I'll close this.

[2020-10-18 18:41] TheMisir commented on #108
I could work on it in 2-3 days, when I'm not busy.

[2020-10-19 15:52] dpaulino commented on #127
There's now a pop up whenever you successfully import a workspace
![image](https://user-images.githubusercontent.com/7649589/96475088-73ee1600-11e8-11eb-8222-bc50295eb8b2.png)

[2020-10-19 15:52] #127 closed

[2020-10-20 03:20] dpaulino commented on #108
@TheMisir looks like this curl to csharp library you found depends on `Span<T>` which is only supported in .NET Standard 2.1. UWP apps can only support .NET Standard 2.0, so this library can't be used without some modifications.

[2020-10-20 04:03] dpaulino commented on #108
Scratch that, turns out you can import `System.Memory` and you can use `Spant<T>` in .NET Standard 2.0.

I found some other issues though. The curl to csharp logic was not split out into a separate package, so you can't just nuget install it. I've done some preliminary work to split out the core logic into a separate project here: https://github.com/dpaulino/curl-to-csharp. However, there are some

[2020-10-20 04:22] dpaulino commented on #108
@TheMisir feel free to pick up that fork I created if you feel it might be useful

[2020-10-20 12:44] TheMisir commented on #108
I just mean we could use (copy) parsing part from that project. I'll look at that when I got free time.

[2020-10-22 13:04] roxk opened #131 "Switching theme doesn't switch response text color"
Love the app, great work!

**Version**
Windows 10 2004
Nightingale 4.1.6.0

**Steps to reproduce the bug**
1. Choose app light theme with the app closed.
2. Open the app, observe light theme working correctly in ui element and response view.
3. Switch app theme to dark via settings.
4. Observe app ui element switch background and foreground color correctly, but text inside response view doesn't ch

[2020-10-22 13:14] roxk opened #132 "Request imported from postman v2.1 collection contains redundant query parameters in url"
**Version**
Windows 10 2004
Nightingale 4.1.6.0

**Steps to reproduce the bug**
1. Import the following postman v2.1 collection:
[code]
2. Observe Test request's url field has duplicated query parameters

**Expected behavior**
The url field contains no duplicated query parameters.

**Actual behavior**
The url field has redundant query parameters.

**Screenshot**
Notice in the url field the query p

[2020-10-22 13:38] roxk opened #133 "Request imported from postman v2.1 collection lose folder structure"
**Version**
Windows 10 2004
Nightingale 4.1.6.0

**Steps to reproduce the bug**
1. Import the following postman v2.1 collection:
[code]
2. Observe "Test folder" is missing

**Expected behavior**
The folder is imported.

**Actual behavior**
The folder is not imported and Test request is at the root of the collection.

**Screenshot**
![image](https://user-images.githubusercontent.com/16918354/968796

[2020-10-23 01:59] dpaulino commented on #125
@jagadeesh32 friendly ping

[2020-10-23 03:22] jagadeesh32 commented on #125
hi, @dpaulino    attached here screenshot. same endpoint working in postman.  but not working in nightingale.  https://1drv.ms/u/s!An4mwsiy_GAwlGcm3UtqynbuWOH8?e=kob8cW

[2020-10-23 03:34] dpaulino commented on #133
Now that your pr was merged, I'll assign this to me so I can add the updated package to the app

[2020-10-23 03:38] dpaulino commented on #125
@jagadeesh32 is SSL validation turned off in Nightingale's settings? If it already is, can you try this: https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2020-10-23 14:47] #71 closed

[2020-10-23 14:47] #97 closed

[2020-10-23 19:37] FocacciaSyin opened #134 "Something went wrong with the request"
Same Request working on Postman & Browse ,Could you please help me confirm the following information?

**Get URL:**
https://ezfund.moneydj.com/w/query/result/djjson/SearchJSON.djjson?P1=ezfund&P2=False&P3=False&P4=False&P5=0&m=0&Change=1&companycode=CATH

**ErrorMessage:**
The character set provided in ContentType is invalid. Cannot read content as string using an invalid character set.
   at Syst

[2020-10-23 19:45] dpaulino commented on #134
Thanks for creating an issue. I'll investigate soon

[2020-10-24 01:52] cambo2015 opened #135 "request works in the browser but not in app"
I don't think this is a bug per se but I installed a fresh windows 10 and installed the app, made a quick api. I user the app but no response, then I used the browser and I got a response. I love the app. Anyway any help would be great.

[2020-10-24 16:35] dpaulino commented on #135
What's your url? Localhost? If so, have you tried this: https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2020-10-24 16:59] cambo2015 commented on #135
Yes it's localhost on port 8000. I'm testing this now.

[2020-10-24 17:02] cambo2015 commented on #135
I got it to work thanks to your help. Really appreciate it. Thanks 👍

[2020-10-24 17:30] #135 closed

[2020-10-25 16:15] dpaulino commented on #124
@sswires friendly ping

[2020-10-25 20:25] dpaulino commented on #23
@Sergio0694 sorry for taking a long time to respond. If you're still interested in helping with this issue, I've improved the codegen setup in the core repo. There's now a dedicated project for codegen: https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.CodeGen.

Also, all of nightingale's new data models are open source now here: https://github.com/jenius-apps/nightingale

[2020-10-25 20:28] dpaulino commented on #23
@Sergio0694 can you confirm if you're still able to help with this? No worries if you can't at the moment. I just want to double check because I can un-assign you

[2020-10-25 20:31] dpaulino commented on #73
I've open sourced the codegen project, and it's fairly straightforward to add a new code generator class. If anyone is able to contribute, I would really appreciate it. Feel free to follow how the current curl generator is set up to create a `RefitGenerator` class. https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.CodeGen

[2020-10-26 15:33] #133 closed

[2020-10-26 15:34] dpaulino commented on #133
Thanks again for your contribution @roxk. The fix should now be available in the latest update

[2020-10-26 18:15] jagadeesh32 commented on #125
@dpaulino  thank you very much.  it is working now.  can we expect this to auto fix on the next installation time..!!

[2020-10-26 18:21] hansmbakker commented on #73
I paid for the app, and while I don't regret that (I paid for the app as-is, it is a great app, worth its money) I'm not sure about how to regard the app  being paid versus asking for contributions.

The app being paid gives a kind of expectation that this revenue enables future development, but asking for contributions at the same time looks as if that responsibility is intended to become shared,

[2020-10-26 18:25] hansmbakker commented on #73
The above was just what came to my mind; if anybody has a different perspective, I'm curious to hear it!

Maybe I'm just not used to this model - usually I see closed source being paid or open source being free, but combinations I see less often.

I know there can also be "open source, but paid in the store for convenience" or "open source, but paid support" - curious how that is thought of here.

[2020-10-26 18:41] dpaulino commented on #73
@hansmbakker thanks for reaching out. I spent a year thinking through this because there is a delicate balance to maintain. Yes, Nightingale was paid, and it puts me in an awkward position if I open source the app while still making it paid. Thus, the solution I came to was as follows:

- Nightingale the app itself is **not** open source. The UI, the design, and the user experience is all closed s

[2020-10-26 18:46] hansmbakker commented on #73
Thank you for the clear answer, and excuse me for my wrong statement, I did not know that Nightingale is not paid anymore. I will update my reaction.

[2020-10-26 18:49] dpaulino commented on #73
And to further clarify, I'm open sourcing the backend libraries to make it available for contributions if people want. But I am not solely relying on contributions. I will add Refit code generation when I get through a few more tasks, but if someone out there wants to help speed it along, they can help contribute the backend logic.

[2020-10-26 18:55] dpaulino commented on #125
@jagadeesh32 what did you do to fix it? the ssl validation? or the other command?

[2020-10-26 19:49] dpaulino commented on #125
Closing this for now, but please do let me know what fixed exactly fixed it for you

[2020-10-26 19:49] #125 closed

[2020-10-29 08:33] agund opened #136 "gPRC support"
It would be nice if the application allows to connect via gPRC, for testing this services.

[2020-10-29 08:38] agund opened #137 "SOAP Service support"
It would be nice if the application allows to connect via SOAP.

[2020-10-31 18:16] dpaulino opened #138 "Feature request: show complete, unformatted text of a response regardless of status code"
![image](https://user-images.githubusercontent.com/7649589/97786679-7b0f0f80-1b6a-11eb-9e0f-c847e2b85cde.png)

[2020-10-31 18:20] dpaulino commented on #138
Note to self: httpresponsemessage.tostring() may be appropriate here

![image](https://user-images.githubusercontent.com/7649589/97786771-11dbcc00-1b6b-11eb-9dce-85b008f4ba56.png)

[2020-10-31 23:48] dpaulino commented on #20
@coffeebank sorry for the super long delay. Just finished the work for this. I'll be arriving with the next update. Thank you for your feedback!

[2020-11-02 17:13] #20 closed

[2020-11-02 17:13] #129 closed

[2020-11-02 17:13] #138 closed

[2020-11-02 22:12] tipa opened #139 "Trailing question mark on all POST requests"
It appears that a question mark `?` is appended to all POST requests even though there are no parameters specified. This causes problems for some APIs, in my case this one: https://dev.fitbit.com/build/reference/web-api/oauth2/#retrieve-state-of-tokens
The endpoint returns
[code]
because of the trailing `?`

[2020-11-02 22:29] dpaulino commented on #139
Thanks for reporting this. I'll look into it asap

[2020-11-03 04:05] dpaulino commented on #70
Examples of curl statements: https://api.cloudflare.com/#getting-started-responses

[2020-11-03 07:32] dpaulino commented on #99
Tried some more work on this, and I'm hitting a snag on my CI pipeline.
[code]

Some searches online suggest this is due to running out of memory

[2020-11-03 07:54] dpaulino commented on #99
Looks like the low memory theory may be correct. I was able to create an arm64 build locally where I have 16gb ram, while the CI pipeline only has 7gb. Also, I noticed that compiling for arm64 used up 6-7gb on my machine. This high memory usage may have led to the error in the CI pipeline.

[2020-11-03 15:28] dpaulino commented on #99
ARM64 now available!

Download from store: https://www.microsoft.com/store/productId/9N2T6F9F5ZDN
Download from github: https://github.com/jenius-apps/nightingale-rest-api-client/releases/tag/v4.3.0

![image](https://user-images.githubusercontent.com/7649589/98005639-22c45180-1da6-11eb-9418-ed41e5a11077.png)

[2020-11-03 15:28] #99 closed

[2020-11-03 16:11] dpaulino opened #140 "Mock server process is running as x86 even though Nightingale is running as ARM64"
Jeremy Sinclair pointed out to me that this is caused by .NET Framework processes not being able to run as arm64. I'll have to investigate using .net core instead of framework.

[2020-11-04 15:53] dpaulino commented on #139
@tipa fix should be available now. Can you try again?

[2020-11-04 19:25] myokeeh commented on #114
As of 4.3.1.0, here's my latest test results with digest auth.

I neglected to mention that on the first request, I get a JSON reply below.

  "message": "Internal error"
}

Subsequent requests give me "Oops, something went wrong with the request and we lost our grip on it" with the stack trace below.

[2020-11-05 03:22] dpaulino commented on #139
It should be working now. Feel free to reopen if not!

[2020-11-05 03:22] #139 closed

[2020-11-05 18:19] tipa commented on #139
Thanks for the quick fix

[2020-11-12 14:44] dpaulino opened #141 "User agent header seems to be not sent"
According to reports

[2020-11-13 05:27] dpaulino commented on #106
Hi @mikebaz I was able to successfully get an oauth 2.0 token for azure
![image](https://user-images.githubusercontent.com/7649589/99031672-854ae980-252c-11eb-935c-635d9a81edb1.png)

Here are the steps I took
- Registered a new app in Azure AD
- Created client secret for that new app in Azure AD
- Opened a new tab in Nightingale > navigated to the auth section > switched to oauth2
- Grant type was

[2020-11-13 15:44] mikebaz commented on #106
I'm embarrassed to admit that I had one the URLs wrong.  I actually just now got this working with the 2.0 endpoints (e.g. `/oauth2/v2.0/token` so I'm good.  I think I just needed someone to slap me around a little. :)

Thanks, I'm going to close the issue.

p.s. it's a small gesture but I wanted to show appreciation:
![image](https://user-images.githubusercontent.com/11339500/99090851-1bb6f380-25

[2020-11-14 06:18] dpaulino opened #142 "[Bug] tab name doesn't change when you change the name of the request in the tree"
Open new tab > save tab to tree > right click tree item > rename > observe the tab name doesn't change

[2020-11-14 06:20] dpaulino commented on #142
err... can't repro anymore..

[2020-11-14 06:20] #142 closed

[2020-11-14 17:39] dpaulino commented on #83
@berwyn sorry for the delayed follow up.

I was able to get the sign in window to show properly.
![image](https://user-images.githubusercontent.com/7649589/99153181-d60d3000-265b-11eb-8f14-7033699bb281.png)

And I was able to get an OAuth access token. Here's my configuration
![image](https://user-images.githubusercontent.com/7649589/99153407-36e93800-265d-11eb-9aa1-0185bf45d3ef.png)

Can you chec

[2020-11-14 18:15] dpaulino commented on #134
Jotting down notes from my investigation:
- it seems the crash occurs when trying to read the content as string
- the request itself returns successfully, but the crash occurs when trying to display the string result
- issue seems encoding related. It seems that the response's charset is BIG5, and the c# httpclient `ReadAsStringAsync()` method doesn't seem to support this encoding out of the box
-

[2020-11-14 18:19] dpaulino commented on #131
Are you still seeing this issue? If you scroll the text editor, does the theme correct itself?

[2020-11-16 03:34] pinholucas commented on #78
@dpaulino maybe it's about time? ahahah

[2020-11-16 07:19] dpaulino commented on #132
Oops, I did not mean to close this yet.

[2020-11-16 07:21] dpaulino commented on #83
Closing as no repro in latest version. Feel free to reopen if you're still encountering an issue

[2020-11-16 07:21] #83 closed

[2020-11-16 07:21] dpaulino commented on #51
Are you still running into issues?

[2020-11-16 08:24] dpaulino commented on #134
Note to self:
- Error occurs in NightingaleClient.cs >`string content = await httpResponse.Content.ReadAsStringAsync();`
- Fix would be to add big5 encoding support as in previous comment, then somehow use that encoding when reading the response content

[2020-11-16 16:33] FireCubeStudios commented on #73
i would really love this featire to exist

[2020-11-16 20:26] lozano-jorge opened #143 "Environment variables not working on URLs"
Eg.

This works:
https://localhost:44354/connect/token

And this does not:
{{url}}/connect/token

[2020-11-16 21:22] dpaulino commented on #143
I just tried this, and it worked for me. Can you show me a screen shot of your Log tab after you try to send the request? Here's a screenshot of my log tab, and you can see the url variable is working correctly
![image](https://user-images.githubusercontent.com/7649589/99309716-b8cc9300-280e-11eb-9453-3af0ee7d608b.png)

[2020-11-16 21:45] lozano-jorge commented on #143
This is the variable:
![image](https://user-images.githubusercontent.com/1305049/99311581-ae1f0600-28c1-11eb-8dc9-818fb5fe82a8.png)

Log:
<img width="733" alt="Screenshot 2020-11-17 104221" src="https://user-images.githubusercontent.com/1305049/99311531-99db0900-28c1-11eb-9b33-aff39d0d8749.png">

I also tried without the last "/":
![image](https://user-images.githubusercontent.com/1305049/99311694

[2020-11-16 21:47] lozano-jorge commented on #143
Sorry never mind, it was the extra "/" sorry to waste your time.

[2020-11-16 21:47] #143 closed

[2020-11-16 22:04] dpaulino commented on #143
No problem, feel free to open more issues if you find any!

[2020-11-16 22:10] lozano-jorge opened #144 "Request not working when imported from Postman"
I exported Postman collection as v2.1, then imported into nightingale.

All requests are there with environment variables and all but once you click the send button it doesn't do anything.
I manually created one of the requests with all variables and it works which means something in the import process is broken

This is the stack trace of the Postman imported request
![image](https://user-images.

[2020-11-16 22:17] lozano-jorge commented on #144
PS: In post man I have a pre-script in the collection, which calls the authentication endpoint to retrieve the access_token this way I don't need to call the authentication endpoint every time I do a request that requires the access_token, not sure if this messed up the import.

Also is there something like that in Nightingale? I'm aware of "Chain" but this requires me to click the auth request be

[2020-11-17 00:27] dpaulino commented on #144
Seems like a bug in the converter code. Thanks for reporting! I'll look into it soon. Good to hear it works when you create the request manually though. Are you able to send me a copy of your import file? Feel free to replace any sensitive data with fake data.

Regarding the pre-script, unfortunately there isn't something directly equal to that yet. However, you may be able to add the auth request

[2020-11-17 00:28] dpaulino opened #145 "[Feature request] Request chaining (not just variable chaining)"
Basically, trigger a request before or after a particular request is sent.

[2020-11-17 00:29] dpaulino commented on #145
Related to a comment in #144

[2020-11-17 00:30] dpaulino commented on #144
Note to self:
- based on the stack trace, the issue seems related to trying to get inherited queries. The parent variable may be null and isn't being handled.

[2020-11-17 04:02] lozano-jorge commented on #144
No worries, I'll sent you an email with the Postman export shorty.

[2020-11-17 04:50] dpaulino commented on #144
Issue fixed. Thanks very much for the report! Fixing coming in the next update

[2020-11-17 04:52] dpaulino commented on #132
Fixed in 4.3.2

[2020-11-17 04:52] #132 closed

[2020-11-17 05:48] dpaulino commented on #141
Can't seem to repro. See nightingale on the right supply a user-agent, and see aspnet core 5 on the left recognize that user-agent
![image](https://user-images.githubusercontent.com/7649589/99351394-577be280-2855-11eb-8528-c19e5b1f86b2.png)

[2020-11-18 08:17] dpaulino commented on #70
coming soon
![image](https://user-images.githubusercontent.com/7649589/99503756-718bf280-2933-11eb-9816-dc7822f72049.png)

[2020-11-18 19:19] dpaulino opened #146 "[Feature request] Export as postman file"

[2020-11-19 07:40] #144 closed

[2020-11-19 07:41] #70 closed

[2020-11-20 07:28] dpaulino commented on #108
coming soon: https://streamable.com/hg11o3

[2020-11-20 07:50] dpaulino commented on #108
note: curl import support is currently rudimentary. If you see any data that you have isn't being imported, please open an issue in nightingale-core repo. And here's the current implementation of the curl converter: https://github.com/jenius-apps/nightingale-core/blob/master/src/Nightingale.Converters/Curl/CurlConverter.cs

[2020-11-21 00:56] calloncampbell opened #147 "Synchronize or share workspaces across computers with OneDrive or other services"
Not sure if this is currently possible, but would be nice if there was support to save the Nightingale workspace to OneDrive or some other service so that when I make changes on one machine they're synchronized to the other machines.

Take for example Microsoft Edge or Google Chrome. Your bookmarks, browsing history, and extensions are synchronized across devices. Having similar functionality woul

[2020-11-23 07:34] #78 closed

[2020-11-23 07:34] #108 closed

[2020-11-23 19:44] calloncampbell opened #148 "Add hint to the tabs"
Most often the name of the tab is longer than the tab itself. It would be nice if there was a hint element to display the full name of the request, and/or maybe also show the name of the tab above the URL field - similar to Postman.

[2020-11-23 21:38] dpaulino commented on #148
Great feedback, thanks!

[2020-11-24 20:33] dpaulino opened #149 "Failed curl import"
![image](https://user-images.githubusercontent.com/7649589/100148110-256c1100-2e51-11eb-8b0d-c061e4625ddc.png)
`curl https://api.discogs.com/releases/249504 --user-agent "FooBarApp/3.0"`

[2020-12-07 21:10] mikebaz commented on #106
actually I reopening because I realize that I think the same issue is still present :(  after you get the token, can you examine it in say jwt.io or jwt.ms and see if the aud is being populated from the resource in the query string?  it looks like it's back to being dropped?

[2020-12-08 00:32] dpaulino commented on #106
I'll take a look soon, thanks for reopening so I can investigate!

[2020-12-16 03:33] mingkeYao opened #151 "download api produce error"
when I send request to my  local server for download a file , an error appear .
As the picture below

![image](https://user-images.githubusercontent.com/33944326/102301630-21379d00-3f92-11eb-887d-45bd8d641a52.png)

and the log detail is below:

No valid form data items to add. Add an item or make sure all items have keys and they are enabled.
   at Nightingale.Core.Client.Builders.FormDataBuilder.

[2020-12-16 06:43] mingkeYao commented on #151
i am sorry , i send  a get request with requestbody ,and it produces error.

maybe you can change the softwore to ignore requestbody automatically as sending a get request

[2020-12-16 06:43] #151 closed

[2020-12-27 09:46] deakster commented on #122
Yes please, client certificate support is needed for us before we could switch from postman/insomnia.

[2020-12-30 08:25] mderriey commented on #106
The AAD v2.0 endpoint, also known as the Microsoft Identity Platform, doesn't use the `resource` parameter, but the OAuth 2.0 standard `scope` one, which needs to be passed in the request body.

See <https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#get-a-token>.

[2020-12-30 08:30] dpaulino commented on #106
@mderriey thanks for the context. Are you thinking that perhaps this is a bug in nightingale?

[2020-12-30 08:33] mderriey commented on #106
Sorry if my answer wasn't clear. I'm not familiar with how Nightingale performs the OAuth 2.0 token acquisition, but I think passing the scope in the body is more standardised than having a resource parameter passed in the query string.

With the knowledge that I have from the thread, I think it's the normal behaviour that the `aud` claim in the token doesn't necessarily reflect the `resource` que

[2020-12-31 17:38] iWantToKeepAnon opened #152 "Auth2 w/ SSO - We can't connect to the service you need right now."
I tried Auth2 with "Authorization Code", filled in the details (which are working w/ Postman") and a popup dialog shows (which I assume is supposed to present the SSO login form); but it says:

   We can't connect to the service you need right now.  Check your network connection or try this again later.

This service is in our test/qa environment and is not running on localhost.  The login server

[2020-12-31 17:45] iWantToKeepAnon commented on #21
I am using 4.3.7.0; where is the swagger import?  I tried saving the swagger JSON file and importing that but I get "Unsupported schema | unknown file type | serviceNameHere-swagger-odata.json".

[2020-12-31 17:47] dpaulino commented on #21
@iWantToKeepAnon the swagger import currently only supports importing from yaml. I want to add json support soon but no promises on time. If you happen to have an opportunity to help, nightigale's converter code is open source: https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Converters/Swagger

[2020-12-31 18:05] Suchiman commented on #21
So far i've managed to get by by renaming the json file to yaml, since yaml is a superset of json.

[2021-01-01 16:51] ashutosh1211 opened #153 "Feature Request: Add bulk edit for Queries and Headers tab"

[2021-01-05 09:51] secana opened #154 "Exception on every request"
First: Happy New Year!

I got a problem with Version 4.3.7.0

I get an exception on every request:

[code]

SSL validation is disabled in the options. No idea what happened, as the same requests worked the last time I used Nightingale.

[2021-01-05 17:31] dpaulino commented on #154
@secana What's your request URL?

[2021-01-05 17:34] dpaulino commented on #154
And what configuration do you have? GET request? Do you have a body? etc

[2021-01-05 18:09] dpaulino commented on #154
If you're sending requests to localhost, can you try this? https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2021-01-05 20:01] wjvii commented on #106
I ran into this or something similar today as well, our web apis check the audience and what is being passed in when I call it from Nightingale is 00000002-0000-0000-c000-000000000000. My scope does have the audience (api://guid/readaccess) where api://guid is my audience but that is not what the API receives in the access token.

So how can we set the audience? Maybe another parameter we can just

[2021-01-05 21:09] wjvii commented on #106
OK, I think I have a solution that works fine for me, does not need a client secret and solved the audience issue. The main thing appears to be changing it to the v2.0 endpoints.

Grant type: Authorization code
Access token URL: https://login.microsoftonline.com/common/oauth2/v2.0/token
Client ID: appguid
Client secret: leave blank
Callback URL: https://login.microsoftonline.com/common/oauth2/nati

[2021-01-06 11:59] secana commented on #154
Pure GET request without any body. But it seems to be VPN related. I can query all URL which are not in out company network which I access over VPN. Unfortunately I use Nightingale mostly with resources from the company VPN. I have no idea how to debug this further as VPN issues are usually tricky. Do you have any ideas?

[2021-01-07 04:28] dpaulino commented on #154
@secana if you're able to help troubleshoot, I'd be interested to see if your issue is related to a recent update. Can you try uninstalling nighitngale and then re-install an older version? Some older versions are available here: https://github.com/jenius-apps/nightingale-rest-api-client/releases. I'm curious if the issues you're seeing also exist on the older versions

[2021-01-07 13:02] secana commented on #154
The issue seems to be resolved by resetting the network interfaces. Just a reboot didn't fix it. No idea what happened, as all other applications worked fine but it seems to be fixed now. VPN issues will always be magical for me. Thanks for taking the time to help me!

[2021-01-07 13:02] #154 closed

[2021-01-07 16:26] dpaulino commented on #154
That's super weird. Can you post how you reset your network? It might be helpful for others that hit this problem.

[2021-01-08 20:36] Insire commented on #79
it would be great, if the file picker would reflect the fact, that you expect a yaml file there. The error message doesnt state either, what is expected there.

![grafik](https://user-images.githubusercontent.com/11455827/104061811-95fca080-51f9-11eb-9a48-d3888d86194b.png)

[2021-01-11 13:09] secana commented on #154
Sure. I simply disabled/enabled the network device in the control center.
"Contol Center" -> "Network and Sharing Center" -> "Change Adapter Settings" -> Select network device -> "Disable" -> "Enable".

[2021-01-11 18:12] dpaulino commented on #154
@secana thanks!

[2021-01-11 18:26] dpaulino opened #155 "Crashing on launch on insider build 21286"
Other insider builds unaffected. Nightingale v4.3.7.

More information needed.

[2021-01-12 20:58] dpaulino commented on #155
I updated to build 21292 and the issue went away. Not sure what caused this.

[2021-01-12 20:58] #155 closed

[2021-01-21 23:00] bruno-brant opened #156 "Highlight delay"
When passing the cursor over the gutter, a json block gets highlighted immediately.

![image](https://user-images.githubusercontent.com/1890900/105422766-13290c00-5c23-11eb-99b8-32998fb364df.png)

Also, when passing the cursor over the vertical or horizontal split, they get immediately highlighted.

![image](https://user-images.githubusercontent.com/1890900/105422831-2cca5380-5c23-11eb-8fb5-869d34

[2021-01-25 13:02] larsschellhas commented on #145
Ahhh... This explains why my later requests having difficulties with false tokens :D

It would be nice if the requests were made one after another when I put them into a collection. Alternatively, that could be an option in or an extra button next to the "Execute All" button.
![image](https://user-images.githubusercontent.com/14281234/105709363-eb34f380-5f15-11eb-9652-4008a14c0fcd.png)

[2021-01-25 18:45] d1vanloon opened #159 "Content-Type validation doesn't allow inclusion of charset"
### Summary

I am trying to interact with an API that requires the charset be specified in the `Content-Type` header. Nightingale does not allow requests with the charset in the `Content-Type` header.

### Steps to Reproduce

1. Construct a request in Nightingale with the `Content-Type` header set to `application/json; charset=UTF-8`
2. Send the request

### Expected Result

The request is sent wi

[2021-01-25 19:16] d1vanloon commented on #159
This content-type does not have a `charset` parameter defined, but I don't think it's invalid.

https://www.iana.org/assignments/media-types/application/json

RFC 8259 seems to indicate that JSON must always be encoded in UTF-8. I will contact the API authors to verify their content-type requirements.

[2021-01-25 19:16] #159 closed

[2021-01-31 14:55] Ombrelin commented on #146
I am very interested in this feature

[2021-01-31 18:36] dpaulino commented on #146
@Ombrelin any chance you'd be able to create a converter from nightingale to postman? Once a converter is created, I can easily enable it inside nightingale. Here are the converters for Nightingale (they're open source). You can fork this repo and create a class for nightingale to postman: https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Converters

[2021-01-31 18:44] Ombrelin commented on #146
Okay, thank you, I'll look into into it !

[2021-02-01 07:09] chenxuuu opened #160 "new line disappeared when line is too long"
try `aaaaaaaaaaaaaaaaaaaaaaaaaaaa; bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb` or somethind else

screen record below

![pMp7dQ2s9o](https://user-images.githubusercontent.com/10357394/106425755-56933e00-649f-11eb-81e0-3eac37dd9824.gif)

[2021-02-01 07:15] chenxuuu commented on #113
I can give some help 😁

[2021-02-03 06:00] dpaulino commented on #149
Related fixes in core:
https://github.com/jenius-apps/nightingale-core/commit/7c50777e5262144ec8a078d1e6d9a91d5518f996
https://github.com/jenius-apps/nightingale-core/commit/b5de8de1604f7074fd6ab0d7685199e7c21a09ed

[2021-02-03 06:03] dpaulino commented on #141
Closing as no repro

[2021-02-03 06:03] #141 closed

[2021-02-03 06:05] dpaulino commented on #145
@larsschellhas

Can you clarify what you mean by this? Currently, nightingale should be executing them one after another if you do click "execute all" from the collection page. Are you saying it does *not* execute one after the other for you?

[2021-02-03 07:24] dpaulino commented on #148
Adding a tooltip that opens the full request name if you hover over the tab
![image](https://user-images.githubusercontent.com/7649589/106712382-b841ce00-65ad-11eb-9b06-6f524a66aff5.png)

[2021-02-04 11:39] kieronlanning commented on #28
Is there any update to this?

[2021-02-04 12:23] larsschellhas commented on #145
Hey @dpaulino,
sorry, if my description was not clear enough! Let me try again :)
I figured out what the real problem is and will create a new issue for it.

[2021-02-04 12:34] larsschellhas opened #161 "Running requests in a collection with "Execute all" does not update environment variables"
Hey @dpaulino,

I figured why my chained requests in Nightingale did not work.
I'm chaining environment variables and when I execute one request after another the variables update simply fine. But when I run all of them with "Execute all", the environment variables are not updated when a request is completed. Therefore, my chaining does not work.

[2021-02-04 15:49] #149 closed

[2021-02-04 15:49] #148 closed

[2021-02-04 15:50] dpaulino commented on #161
Thank you for reporting this!!

[2021-02-04 15:55] larsschellhas commented on #161
Thank you for creating such a nice UWP app for us! Please, keep up the great work!

[2021-02-04 16:04] iWantToKeepAnon commented on #21
I assume ".cs" is c-sharp?  It might be a good way to get my feet wet but I don't have any c-sharp experience or dev tools. : /  Thanks for the feedback and I might try the yaml trick to see how that works.

Thx.

[2021-02-05 07:52] einkunz opened #162 "[Feature request] Export current request as curl"
Hi,

it would be nice if it is possible to export the current request as curl command line script.

[2021-02-14 12:26] Nisgrak commented on #85
Any updates on this?

[2021-02-18 05:32] niteshrestha commented on #111
I have been using it but the zoom level doesn't persist. Is it possible to have some sort of setting for it?

[2021-02-18 13:02] Penta-Code opened #163 "Ability to upload own menu background image"
As of now, there are only pre-installed images and no way to upload your own image.

-Thank you

[2021-02-21 15:02] niteshrestha commented on #92
I was able to find the issue (I think). Is there a way to verify that the solution works apart from getting the result back from SwaggerConverter?
![image](https://user-images.githubusercontent.com/4751915/108628991-f5e79780-7485-11eb-99d7-a6c517161256.png)

[2021-02-22 00:23] dpaulino commented on #92
Can you make a pull request to the core project? And can you add a test here https://github.com/jenius-apps/nightingale-core/tree/master/src/Nightingale.Test

[2021-02-22 12:44] zvrba opened #164 "Authorization doesn't work"
Installed Nightingale from app store. Tried to use access token in three ways:

1. Choosing "Bearer" under auth and pasting access token there.
2. Choosing "OAuth2.0" under auth and pasting access token there.
3. Turned off auth and manually set up Authorization header with "Bearer <token>" value.

Nothing worked, I always get "401 unauthorized" back. Copy-pasting the same token into Postman trigg

[2021-02-22 18:22] dpaulino commented on #164
Are you able to share your URL?

[2021-02-23 05:57] zvrba commented on #164
Yes, but how do I send a private message on github?

[2021-02-23 06:01] dpaulino commented on #164
Feel free to email at jenius_apps@outlook.com

[2021-02-23 06:06] zvrba commented on #164
Sent to email.

[2021-02-23 06:26] dpaulino commented on #164
Thanks, just so I understand, this is an API that you're building yourself right? Does the error repro in both localhost and with the link you sent?

[2021-02-23 06:28] zvrba commented on #164
Yes, it's an API I'm building myself. It's a plain ASPNET Core api configured to verify tokens issued by Azure AD. I do not test against localhost, I use only remote debugging.

[2021-02-25 07:38] andmig-ilty commented on #146
That would be a great feature. I just downloaded Nightingale and the first think I looked for was the export to Postman. We are heavy uses of "newman" to perform automated test based on postman collection scripts and test assertions.

[2021-02-25 13:08] kelps commented on #147
It could be as easy as being able to select the folder and filename where the workspace is saved (or maybe just the folder and make the filename be the workspace name). This way we could save on a local folder we already have that is backed by our choice of online storage (onedrive, dropbox, google drive, etc...)

[2021-02-25 13:22] kelps opened #165 "Some sort of auto completion for Environment Variables"
It would be great if there was some sort of auto completion or at least a different styling for the use of environment variables. A simple styling would already be a big plus, specially if it had different colors for "valid" and "invalid" variables.

[2021-02-25 13:29] kelps opened #166 "More detailed information about executions, specially after an error"
Failed executions provide very little information. The stack trace could be a LOT more usefull if it was accompanied by more details about the request.

Imagine I'm trying to do a request using variables for the url and some parameters, but the url is wrong in the variable or maybe I forgot to create the variable or created it with the wrong name. When the error occurs, being able to see the final

[2021-02-25 13:38] kelps opened #167 "Importing from Postman doesn't seem to import collections configurations like auth and variables"
I imported a few collections from Postman and it didn't import any of the auth configurations and environment variables in that collection. Only the requests information were imported.

[2021-02-25 14:43] dpaulino commented on #147
@kelps Nightingale workspaces can be saved to a file that you can store anywhere on your machine. It can be committed to a git repo or saved in a onedrive folder. Once you saved the file somewhere, you can open it by double clicking it to view in a new window of nightingale. Would this address your scenario?

I know that Callon specifically wants the default workspace to sync, but I'm curious if t

[2021-02-27 22:18] paule96 opened #168 "Add an Import option from URL for OpenAPI and soon OData too"
Hey as mention in the PR [10](https://github.com/jenius-apps/nightingale-core/pull/10) it would be super useful to import the metadata from an API directly.
Currently, this will make only make sense for the OpenAPI importer, and if the PR is merged then for OData too.
But I have looked in the Issues backlog of this repo and this will make also sense for #137 and #30 and #136.
So the user just must

[2021-03-01 14:27] jamesmcroft commented on #123
Came to see if this issue existed and it does! I might see if I can work this out 👍

[2021-03-08 00:33] kshyju opened #169 "An error occurred while sending the request. at System.Net.Http.HttpClientHandler.<SendAsync>d__113.MoveNext"
I am getting an error when issuing a simple GET request. Here is the stack trace.

The same request works from ARC/Edge browser. FWIW, the endpoint returns 204 response.

![image](https://user-images.githubusercontent.com/144469/110260852-c2ffd200-7f62-11eb-90c4-0950deeca701.png)

   at System.Net.Http.HttpClientHandler.<SendAsync>d__113.MoveNext() + 0x361
--- End of stack trace from previous loca

[2021-03-15 05:25] jtippet opened #170 "Vancouver is spelled incorrectly"
v4.3.8.0
About screen says "Vancouer", but probably meant "Vancouver"

![image](https://user-images.githubusercontent.com/10259764/111107344-ebb03a80-8513-11eb-8e58-bfd7c068d292.png)

[2021-03-15 05:33] dpaulino commented on #170
This is a p0 bug. I will fix it with an emergency hotfix! (seriously) thanks for spotting!

[2021-03-15 19:03] jtippet commented on #170
I have verified that the issue does not repro in v4.3.9.0.

[2021-03-15 19:03] #170 closed

[2021-03-16 10:28] paule96 opened #171 "No release notes for 4.3.9.0"
Hi,

I have today got the update `4.3.9.0` over the Microsoft Store. But I can't find release notes for it. Can you publish some release notes for it [here](https://github.com/jenius-apps/nightingale-rest-api-client/releases)?

[2021-03-16 10:47] electronic-dk commented on #37
Hey @dpaulino  did you have a chance to take a look at this issue? Were you able to reproduce it? Maybe I can provide some more info? It's not a big issue or anything, but it does get a bit irritating when I'm using the touchpad :)

[2021-03-16 15:50] dpaulino commented on #171
Hello, I updated the changelog here https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/changelog.md. Hope that helps, thanks.

[2021-03-16 15:50] #171 closed

[2021-03-18 21:22] Chaphasilor opened #172 "Cookies are not included on redirects"
It seems like cookies are only attached to request to the corresponding domain if the domain is the target of the initial request.
However, if a server redirects the request to a different domain, and that domain has cookies associated with it inside the cookie store/jar, those cookies should be included (that's what a browser would do).

To recreate:

1. Send a request to a server that redirects

[2021-03-21 19:24] HeadhunterXamd opened #173 "[Feature Request]: Cloud authentication (for example AWS signature)"
It may be something to include some cloud authentication methods to the authentication options.
For example I need to use Postman instead of this app because it supports the AWS signature authentication protocol. (sigv4)

There is an package that supports the protocol (code is also available on github [here](https://github.com/tsibelman/aws-signer-v4-dot-net))

[2021-03-25 10:25] tbolon opened #174 "Can't "Save As" a workspace anymore ?"
It seems there was a feature to save a workspace in a specific folder, still visible in the [documentation](https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/collectionfile.md), and quoted in #147.

I would love to use nightingale to store sample REST API call in our project, but by default you don't have any way to open/save workspace in a custom location (I don't even k

[2021-03-25 10:30] tbolon commented on #174
It seems I misunderstand the Export and Import function.

I was influenced by how, in Postman, Export and Import actions are used (you can export, but it won't allow you to use the exported file after).

It seems you can now use the Export function to create a copy of your current environment, then open this file directly.
By convenience, maybe a "New / Open / Save" pattern could have been used in

[2021-03-25 10:30] #174 closed

[2021-03-25 10:42] tbolon opened #175 "Shortcuts does not test for Alt key"
In my keyboard layout, the AltGr (ctrl+alt) key is often used for special characters.

The `AltGr+T` key is used for `{`.

The problem is that the shortcut `Ctrl+T` intercepts the key press (in the url for example).

Maybe the keypress routine should also check that the Alt key is not pressed before creating a new tab?

[2021-03-25 11:42] AucT opened #176 "[Feature reqeust] Generate code to more programming languages"
Copy from postman. It is really handy.

[2021-03-25 17:56] dpaulino commented on #175
Ah yes I can do that. Great feedback, thank you

[2021-03-25 17:57] dpaulino commented on #175
Marking as bug because shortcuts should only work if Ctrl+<key> are pressed. Other unused modifiers must not trigger the shortcuts

[2021-03-28 10:50] hd321kbps commented on #176
I liked the program more than Postman. But the functionality is not yet complete.
And js, node, ruby, python

[2021-03-30 08:01] a121984376 opened #177 "it seems Can not input Chinese?"
I Can not input Chinese.

[2021-03-30 18:57] dpaulino commented on #177
Can you show screenshots of where you are trying to input Chinese? There's another issue related to Chinese character encoding, so I'm curious to see if this is related

[2021-03-31 01:55] dckface opened #178 "Code 403 with "error code: 1020" while calling a public API"
A simple GET request sent to a public endpoint https://api.picarto.tv/api/v1/categories works just fine with browser, curl, or other REST clients (e.g., Insomnia). However, Nightingale returns code 403, with text "error code: 1020" as response body.

For comparison, output from Nightingale:
![image](https://user-images.githubusercontent.com/3797371/113078994-837c7c80-91d4-11eb-8fc2-c1c9fff803bc.pn

[2021-03-31 14:59] dpaulino commented on #178
Interesting. I'll take a look

[2021-04-02 12:04] Power2All opened #179 "Not working, stack error, PHP development shows no requests receiving"
Screenshot should say it all, it's not working at all...

![ApplicationFrameHost_GFf9eVt8oL](https://user-images.githubusercontent.com/2010549/113414075-64404380-93bc-11eb-9bf5-2b120602d9a1.png)

[2021-04-02 17:08] dpaulino commented on #179
Interesting. Just to confirm, can your browser access that url?

And have you tried out this troubleshoot guide: https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2021-04-02 17:23] dckface commented on #178
I did some investigation as well, and I might have found the reason. Unlike Insomnia, Nightingale is not sending any user-agent string, unless explicitly set per-request in Headers section. When I added custom header "user-agent" with arbitrary value, this problem stopped occurring.

[2021-04-02 17:57] dpaulino commented on #178
nice find! Thanks so much! I can definitely add a default agent

[2021-04-06 11:07] rupali1996 opened #180 "facing error"
i am using nightingle  on windows .......but not able to run requests from local api ...what to check

[2021-04-06 16:23] dpaulino commented on #180
Have you tried this guide: https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2021-04-07 03:14] auroraMR921 opened #181 "application/json or text input box fail to write chinese word"
when i send a post request with application/josn body, it's fail to write  chinese word in the input box. Can you consider supporting Chinese input in the next updated version ?

[2021-04-08 16:41] milesje opened #182 "Import Error"
Importing from Insomnia (v4 JSON)

Unknown import error. Please create new issue on GitHub! Error message: Error reading string.
Unexpected token: StartObject. Path 'data.DEFAULT_HEADERS'.

[2021-04-08 17:16] milesje commented on #182
So when I import a collection that doesn't have an DEFAULT_HEADERS it does import, but the environments do not import and what environment variables it does import it doesn't import correctly.
Example:  Here is a snippet of the Insomnia JSON export file where it defines an environment, but it is not imported.
[code]
Then when an environment variable is used in Insomnia it is stored as `{{ _.host }

[2021-04-10 10:57] logoskir opened #185 "Use proxy"
How to use Proxy for  request?

[2021-04-14 15:44] RodrigoSobral2000 commented on #11
Hi @dpaulino! Firstly congratz for your awesome app, it is exactly what I was needing.
However, I'm having the same issue. I've already done everything that was said here and still not working.
To give you some context, I'm running a NodeJS web server and I also tried with REST Client extension on VSCode and it worked.
The point is that I don't actually want to use it, you app is faraway more orga

[2021-04-14 15:48] dpaulino commented on #11
@RodrigoSobral2000 Have you tried this troubleshoot guide? https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2021-04-14 16:04] RodrigoSobral2000 commented on #11
I'm sorry for bothering you. I actually didn't have seen that file. It worked just fine.
Thank you once again, keep up with the good work! 😃 👍🏻

[2021-04-27 02:52] dpaulino commented on #169
What's the request URL?

[2021-04-27 02:55] #123 closed

[2021-04-27 03:41] #180 closed

[2021-04-27 05:51] kshyju commented on #169
http://localhost:5000/api/somelocalendpoint

[2021-04-27 05:57] dpaulino commented on #169
Have you tried this? https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2021-04-28 14:52] bgribaudo opened #190 "Unable to set multipart/mixed header with boundary value"
Hello,

Thanks for Nightingale!

If I try to set a header of "Content-Type: multipart/mixed; boundary=batch_AAA123", the request dies complaining that the header's format is invalid:
[code]

Looks like this may be caused by how .Net validates headers ([GitHub ref](https://github.com/dotnet/runtime/issues/20272)). A [possible workaround](https://github.com/dotnet/runtime/issues/20272#issuecomment-2

[2021-04-28 17:37] dpaulino commented on #190
I'll take a look soon, thanks for the issue

[2021-04-28 18:09] bgribaudo commented on #190
Thank you, @dpaulino.

[2021-04-28 20:57] bgribaudo opened #191 "(Idea) Allow Environment Variables to Reference Other Variables"
Would it be possible for an environment variable's value to reference other environment variables?

For example, Microsoft Dataverse's [setup instructions for Postman](https://docs.microsoft.com/en-us/powerapps/developer/data-platform/webapi/setup-postman-environment#connect-with-your-dataverse-environment) have several variables whose values that reference other variables. It would be nice to be

[2021-04-30 14:43] dpaulino commented on #146
@Ombrelin and @andmig-ilty: Is the export feature that you are imagining something like: right click on collection > export as postman?

[2021-04-30 14:48] Ombrelin commented on #146
An option on the already existing Export menu would make more sens to me in term of UX, but if this is cumbersome, what you described would suit me as well

[2021-04-30 15:07] dpaulino commented on #146
@Ombrelin yes I agree that spot makes more sense to me as well. However, I just realized that this menu would mean we're exporting the entire workspace from nightingale to postman. But right now, we only have code for converting collections. So I'm wondering if I have the correct models for a postman workspace 🤔

I'll have to investigate this a bit

[2021-04-30 15:15] Ombrelin commented on #146
I'd say that starting with an Export to Postman in the collection contextual menu is a good idea, since being able to export a single collection would be welcome (not only for Postman !)

In the longer term, to export a workspace to Postman, can't you just for each collection of the nightingale workspace, use the export collection function ?

If this is not possible and more conversion code is nee

[2021-04-30 15:19] dpaulino commented on #146
Yes I was thinking this too. Let me investigate what the schema for a postman workspace looks like. We may be able to make something by looping and converting each collection.

Much appreciated. I'll let you know!

[2021-05-01 17:31] dpaulino commented on #146
After some investigation, it appears that postman has a concept of a dump file which is equivalent to a workspace in Nightingale. Unfortunately, their dump file does not seem to have the same schema as their exported collection file... So I think we'll need
- a new model in [Postman.NET](https://github.com/jenius-apps/Postman.NET/tree/master/src/Collections/Models) to represent their dump file
- n

[2021-05-01 17:35] Ombrelin commented on #146
Totally agree.

Great !

Yes ! I'll sumbit a PR on both repos (Postman.NET & Nightingale Core) when my work will be ready for review.

[2021-05-01 20:38] dpaulino commented on #146
Note: the task of supporting postman dump files is also related to this issue: https://github.com/jenius-apps/nightingale-rest-api-client/issues/33. When we add the support, I'll make sure to update this other ticket as well.

[2021-05-01 21:00] dpaulino commented on #182
I think this may have been resolved by https://github.com/jenius-apps/nightingale-rest-api-client/issues/123.

We'll see how it goes in the next update which includes the fix

[2021-05-03 16:02] dpaulino opened #192 "Feature request: add description or notes for request, collection, and parameters"

[2021-05-03 16:03] dpaulino commented on #192
![image](https://user-images.githubusercontent.com/7649589/116901132-6a5d5600-abee-11eb-8405-2549c6919c7d.jpeg)

[2021-05-05 14:58] 06MasonG opened #193 "Send and Download option doesn't read ContentType / MIME type"
When sending a request to an endpoint that returns a file, the 'Send and download' option always saves as an .xml file type?

The desired behaviour would be to read the Content-Disposition and Content-Type headers and process the download accordingly.

![image](https://user-images.githubusercontent.com/44588748/117161997-4d757e00-adba-11eb-9a03-f2ba93dee50d.png)

[2021-05-05 21:56] dpaulino commented on #182
@milesje can you check the latest v4.4 if that solves your issue?

[2021-05-05 21:57] dpaulino commented on #123
Should be available in v4.4. now. If someone can check and confirm that it's working, please let me know!

[2021-05-05 21:58] dpaulino commented on #146
"right click > export as postman" is now available in v4.4.

Regarding the postman dump file conversion, please post updates in #33!

[2021-05-05 21:58] #146 closed

[2021-05-05 22:00] dpaulino commented on #182
I believe this is solved by https://github.com/jenius-apps/nightingale-core/pull/11. Closing this ticket for now. Please re-open if you still find that it's not working. Thanks :)

[2021-05-05 22:00] #182 closed

[2021-05-07 15:04] jamesmcroft commented on #123
Appears to be importing Insomnia workspaces correctly now but I'm seeing a different issue. Some environment variables don't seem to be replaced when making a request.

I can dig into this a little further. Not sure if this is due to the import from Insomnia or something else.

[2021-05-07 19:31] dpaulino commented on #123
If you have a repro steps can you make a new issue? I can investigate

[2021-05-17 12:23] ihor-klymenok commented on #169
I'm also getting same error.
Here is my stack trace:

[code]

I found that this issue appearing for me, when I'm trying to make a request to disabled (not working) server.
After I start the server, I'm seeing an infinite spinner and then error above.
Only application restart helps.

P.S. For sure I did required steps in https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/lo

[2021-05-17 20:11] paule96 commented on #190
@dpaulino same problem here. This is in special a problem with OData, because this uses the multipart header for Batch request 🤷‍♀️

[2021-05-17 20:24] paule96 commented on #190
here a working example:

[code]

If I understand this right, the content-type header must be always build like this. So you define a mediatype and you can put in some parameters. Maybe the UI of Nightingal can implement that with two textboxes or something like this, to make this transparent to the user.

And what's also is important that you can only have the following parameters for a media type

[2021-05-29 14:56] misteam opened #194 "App Crashes At Launch"
Windows 10 Pro version 21H1 build 19043.1023

The app crashes right at splash screen when launching. It had worked previously, but stopped a few weeks ago. The build mentioned above is an update that occurred after the crash at launch issue started to occur, so the issue spans updates of my os.

[2021-05-29 16:20] dpaulino commented on #194
Interesting. Can you try installing an older version of nightingale to see if the crash is still happening or not? You can go to the GitHub releases to install an older version.

[2021-05-29 17:31] misteam commented on #194
I'm sorry but I'm not finding releases anywhere? I'm not too familiar with gitHub. Thank you for the quick response.

[2021-05-29 21:22] dpaulino commented on #194
https://github.com/jenius-apps/nightingale-rest-api-client/releases

You'll need to uninstall your existing version first before installing an older build.

[2021-06-01 15:45] misteam commented on #194
Thank you so much for getting back to me. I installed the prior version 4.3.7 and the app is functional again.

[2021-06-01 18:03] dpaulino commented on #194
very strange. What happens if you uninstall the app and then re-install the latest version? does the latest still crash? I'm wondering if the uninstallation fixed the issue

[2021-06-01 18:08] misteam commented on #194
No, uninstalling the 4.3.7 version, and re-installing the Microsoft Store version still results in an app crash for me.

[2021-06-03 09:59] hansmbakker opened #195 "How to use entire text from body in variable chaining?"
I have a service that returns a SAS token as body of the response. I want to put this text body in a variable to be able to interact with Blob Storage later.

I tried using the syntax `response.Body` to use the full body, but that doesn't work.

![image](https://user-images.githubusercontent.com/3463496/120626662-2ebee180-c463-11eb-8e8d-b66e3c2f4dcc.png)

Is there a way I can achieve this?

[2021-06-04 17:16] Dav2070 opened #196 "[Bug] App shows dark header with Light Theme"
As you can see on the screenshot below, on Light Mode the entire header is dark.

![image](https://user-images.githubusercontent.com/16546287/120838914-a591d280-c568-11eb-8c08-eb9d2452a3b5.png)

I'm using Windows 10 21H1 and Nightingale v4.4.0.

[2021-06-05 05:53] dpaulino commented on #196
if you restart, does the issue get fixed?

[2021-06-05 10:51] Dav2070 commented on #196
No, even rebooting doesn't fix it. It only works correctly when manually switching to Light Theme in the Settings of the app. But when I use the System setting, I can't fix it at all.

[2021-06-07 07:52] izzqz opened #197 "Bulk Edit for headers feature"
Please add bulk edit feature for headers. Like in postman and similar software.

[2021-06-22 17:37] salmanjaved2 opened #200 "How do I search History of API requests?"
Is there any search capabilities.  I see that you provide a History section on left side of application.  But how do I search the history for a particular api endpoint that I called in the past?

[2021-06-23 01:06] dpaulino commented on #200
No search history feature at the moment, so I'll mark this as a feature request. Thanks!

[2021-06-27 16:46] pir8radio opened #201 "SEND & DOWNLOAD without prompts on a schedule"
SEND & DOWNLOAD without prompts on a schedule?   Is there a way to run this from the command line or through a shortcut with commands to automatically run and save json without prompting?     If not I would like this to be a feature request to setup an automated method to send and download every XX mins.     I am doing long term json testing and i need to grab the json data every 2 mins, save to a

[2021-07-01 09:13] paule96 opened #202 "[new Feature] IntelliSense for request from an API with API definition"
It would be really created to add to a workspace the API definition that is primary used by the workspace.
That would be enable IntelliSense for the URL, Query-Parameter, and body.

An example of something similar like this, is the URL input of the [graph API explorer](https://developer.microsoft.com/en-us/graph/graph-explorer):

![image](https://user-images.githubusercontent.com/11291885/12409833

[2021-07-16 16:23] paule96 opened #203 "Bring back the Request testing feature"
Hi Nightingale-Team,

I really liked the request testing feature of Nightingale. So, what is the plan there? I read that it will come back.
But that is some time ago. So what is the status?

If I can help in any way to bring it back, let me know it :)

[2021-07-19 10:04] enes0r commented on #203
Exactly, would be great to have the test feature back!

[2021-07-19 17:45] dpaulino commented on #203
Thanks for creating an issue! I definitely want to revisit this feature

[2021-07-30 14:31] marck7jr opened #204 "Content-Type header is being ignored"
For some reason when I specify the 'Content-Type' in the headers of the request, Nightingale ignore the values resulting in a 400 status code response as you can see below:

![image](https://user-images.githubusercontent.com/30981574/127667842-ad19b6b0-8cb7-42f3-a0f8-b4c88ddb36cc.png)

But if you put the key value in quotation marks, the application tries to request with the provided values, but o

[2021-08-02 14:33] tboggs13 opened #205 "After upgrade to Windows 11 receiving "FullTrust.exe" error on application launch"
![Screenshot 2021-08-02 093037](https://user-images.githubusercontent.com/19821908/127877849-9608f7c8-1e0b-4407-9450-32b9b5f209c4.png)

Running on a Surface Pro X. Hadn't received this error before the upgrade and have not seen it with other apps either. Seems to be working fine otherwise.

[2021-08-03 15:18] dpaulino commented on #205
Thanks for the report. I've actually filed a feedback hub report on this because it's an issue with Windows 11. Can you file one as well? Unfortunately there's nothing I can do on my end :(

[2021-08-03 18:00] tboggs13 commented on #205
I submitted a report to the feedback hub with a screenshot and an issue recreation.

Tim Boggs​
Enterprise Architect
Tel: 817-806-2299<tel:817-806-2299>
Fax: 817-665-2299<fax:817-665-2299>
Email: ***@***.******@***.***>
A<https://www.apexcapitalcorp.com/>pexCapitalCorp.com
***@***.***<https://www.apexcapitalcorp.com/>

From: Daniel ***@***.***>
Sent: Tuesday, August 3, 2021 10:19 AM
To: jenius-app

[2021-08-25 01:24] jtippet opened #206 "Nightingale telemetry does not honor its privacy policy"
The app's [privacy policy](https://1drv.ms/w/s!Ar4RhL72OhUDzpU99kslIFsO2p9UwQ) states:

However, a fiddler capture shows that the app is indeed sending back the URL's hostname:

[code]

Please either update the privacy policy to indicate that a default installation of the the app does indeed phone home with private data that can potentially be used to uniquely identify a customer, or better yet, u

[2021-08-25 02:40] dpaulino commented on #206
Fixed, thanks. Coming in v4.4.1

[2021-08-25 02:40] #206 closed

[2021-08-25 06:31] sheikalthaf opened #207 "Update UI to windows 11 with mica and rounded corners"
I really like the windows 11 UI. Can you please implement the windows 11 UI changes in this app

[2021-08-25 16:20] jtippet commented on #206
Thanks for the quick turnaround. The store delivered v4.4.1 and I've confirmed that now no part of the URL is send in that telemetry event.

[2021-09-01 11:40] einkunz opened #208 "Filter requests [Feature-wish]"
Hi,

it would be nice it is possible to filter the request.
For example it can be an input field above the request/collection tree which allows you to only show the request which are match to the inserted string.

[2021-09-10 07:53] lf-novelt opened #209 "Long url are truncated and hard to edit"
View mode:
single line, truncated at the end
![image](https://user-images.githubusercontent.com/46479127/132819585-8f347411-5ddd-43f3-a0a6-52cd2284d95e.png)

Edit mode:
Click on the url to edit -> changes to multi line editor with only first line visible
![image](https://user-images.githubusercontent.com/46479127/132819768-f8c2ce1e-53db-4011-ac3d-7f49851acbfc.png)

Proposed solution: I think it's

[2021-09-10 11:39] tbolon opened #210 "[Feature request] make workspace file more git and sharing friendly"
I would like to share workspace files inside a project, to share API sample.

I can use the project as-is, but:

- the file is saved as a non-indented json, which makes hard to compare an edited file
- the .ncf file stores both requests and responses. As soon a I open a .ncf file and run some queries, the file is modified. Perhaps the content could be split between two files (.ncf and .state.ncf)

[2021-09-17 13:17] bgribaudo opened #211 ""Manage cookies" only adds first cookie from a cookie string"
Hello,

The "manage cookies" dialog indicates that multiple cookies can be defined with a single cookie entry by separating them with semicolons (e.g. `_cfuid=value; Secure; ...`).

![image](https://user-images.githubusercontent.com/857202/133788086-2459ae27-5c3b-42b0-ae4e-47e7120cb90c.png)

However, only the first cookie specified in an entry is actually sent with requests. (Notice above how cook

[2021-11-09 16:26] Menziess opened #212 "Chunking when fetching response from streaming API"
Hi,

When entering `http://stream.meetup.com/2/rsvps` in the url bar and pressing "send", the app will wait until the response is fully received. It would be nice if Nightingale had a streaming option similar to httpie's (as an [example](https://httpie.io/docs#streamed-responses)).

Great work, keep it going!

[2021-11-18 18:35] marstr commented on #122
This would be a really useful feature. I had to fallback to Postman recently because I needed this functionality.

[2021-12-08 16:45] Ombrelin opened #214 "Buggy pdf with request that have a PDF as response"
I was testing a response which returned a PDF (using Fastify and Pupeteer) and the pdf save from Nightingale was blank. Installed postman to check if my PDF was broken but it worked.

[2021-12-09 06:40] John0King opened #215 "options for do not auto redirect"
auto redirect hide the response url and other stuff, we should have an option on every "Send"

[2021-12-09 21:27] payambordbar opened #216 "Problem with DateTimeOffset responses"
Every Time the response contains a DateTimeOffset with any offset, the response viewer shows local DateTimeOffset.

I'm assuming you are using Newtonsoft.Json to parse the response and the problem came from there.

As you know this is a big problem for a rest API client.

[2021-12-13 22:14] leandroshan opened #217 "[feature request] - Share a workspace with other users"
ability to share a workspace with other users so one api source could be used by the whole team, with the ability of every team member to have a shared environments variables and a private environments variables.
I think it will enreach your software. hope it helps

[2021-12-28 11:58] Ombrelin opened #218 "Support GraphQL queries"

[2022-01-12 09:23] kid1412621 commented on #54
wish this feat implement this new year❤

[2022-01-13 03:01] kid1412621 opened #219 "Layout issue"
![image](https://user-images.githubusercontent.com/26278054/149258137-9d8f9bc7-0e56-46f8-b02b-e3250602c4a2.png)

[2022-01-13 03:31] dpaulino commented on #219
What exactly is the issue?

[2022-01-13 05:33] kid1412621 commented on #219
the button won't show in certain window ratio

[2022-01-20 04:17] driver1998 commented on #177
handling of IMEs seems broken:

![out](https://user-images.githubusercontent.com/22699485/150272453-1ebc8b8e-0ddf-48f7-9e82-8df2d920986b.gif)

[2022-01-30 23:03] SmithPlatts opened #220 "Auth: Add HMAC authentication"
It would be awesome to be able to configure HMAC auth, using variables from environments.

There's a few ways to configure HMAC, so there would need to be multiple customisations, but it would be a fantastic to have this as a first party feature, especially as Insomnia and Postman requires a plugin/pre-request script to do something similar.

I know you don't open source the app, but I would be ha

[2022-02-05 12:14] maicol07 opened #221 "Don't send charset with Content-Type"
Some REST API systems don't allow charset with content-type.

See this issue: [https://github.com/laravel-json-api/laravel/issues/162#issuecomment-1030157802](https://github.com/laravel-json-api/laravel/issues/162#issuecomment-1030157802)

[2022-02-06 15:05] R2Yu opened #222 "windows-1251 codepage"
Cannot use windows-1251 codepage.
1) Case stack trace:
The character set provided in ContentType is invalid. Cannot read content as string using an invalid character set.
   at System.Net.Http.HttpContent.ReadBufferAsString(ArraySegment`1, HttpContentHeaders) + 0x17f
   at System.Net.Http.HttpContent.ReadBufferedContentAsString() + 0xa5
   ...
   Firefox RESTer succesfully return
   content-type:

[2022-02-08 10:25] Anzmann opened #223 "OAuth2: Support password flow"
Currently, Client credentials, Authorization code and Implicit flow are supported. Please add support also for password flow. The required fields would be all the fields in Client credentials flow + username & password

[2022-02-09 02:08] kid1412621 opened #224 "provide some basic env variables"
e.g. {{currentTime}}

[2022-02-28 09:14] paule96 opened #225 "Timeout after 100 seconds"
The app nightingale cancels any long going request after 100 seconds. This should be changed to infinite or maybe make this timeout configurable.

To test this you can make a simple dev webserver that just has a GET method that's make a thread.sleep für 105 seconds. This should just cancel the request in nightingale.

[2022-02-28 18:50] fuzzmz opened #226 "Can't install with Microsoft Store disabled"
If the Microsoft Store is disabled, say due to company policy, then the Nightingale installer downloaded from Github fails with error `App Installer failed to install package dependencies. Ask the developer for  package.`

![nightingale-install-error](https://user-images.githubusercontent.com/1335181/156041225-2868841a-a724-425d-bc38-1d275bb063f9.PNG)

[2022-04-10 23:37] sharpninja opened #227 "Cannot use `text/xml;+utf-8` for `content-type`"
I'm trying to submit a SOAP request to a WCF service which expects the request to be `text/xml;+utf-8`.  Unfortunately, Nightingale is reporting this stack when I use that value in the `content-type` header.

[code]

[2022-04-26 10:41] watashigoto opened #228 "Authentication inheritance not working"
Same problem: https://github.com/jenius-apps/nightingale-rest-api-client/issues/55

Video: https://www.kapwing.com/videos/6267cb3c8ff885006d0cb90c
Mirror: https://streamja.com/q5w11

Add collection/directory -> Add auth info  to group -> Add new request: Not working
Add collection/directory -> Add new request -> Add auth info to group : Not working too
Add collection/directory -> Add new request -

[2022-04-27 02:13] watashigoto commented on #228
Sorry, it was my mistake. I need to change the auth to 'Parent', I thought it was automatic.

[2022-04-27 02:13] #228 closed

[2022-05-07 10:13] MILK-LL opened #229 "Can't get a GET request"
Get requests can be sent normally in the browser, but errors are reported in the software.The following is the content of the error report：
An error occurred while sending the request.
   at System.Net.Http.HttpClientHandler.<SendAsync>d__113.MoveNext() + 0x361
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.

[2022-05-07 13:11] MILK-LL commented on #229
I think I've solved the problem, it's a problem when connect to localhost. Here's how to fix it
https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

In addition: the software is great, small and responsive. Thank the developers

[2022-05-07 13:11] #229 closed

[2022-05-26 13:52] madman2021 opened #230 "SageAPI parsing error for oauth2"
![image](https://user-images.githubusercontent.com/2904531/170500928-da1957c4-e8b0-456a-9441-af2ded6baeeb.png)

Happens when trying to get a token for oauth using the following settings.

AuthTokenUrl:
https://oauth.accounting.sage.com/token
Authorization URL:
https://www.sageone.com/oauth2/auth/central

Same settings work fine in Insominia, let me know if there is any more logging info I can get

[2022-06-16 21:31] AaronJWhite opened #231 "Feature Request - Setting to turn off Auto-Preview of API Responses"
One API endpoint I use returns a large XML file that is about 1GB in size. Using the "Send and Download" button I am able to save the API response as an XML file properly, but Nightingale freezes and then eventually crashes because it tries to load the large XML file in the preview pane.

- **I would like an option in the settings that allows me to stop Nightingale from auto previewing responses.*

[2022-06-17 00:10] dpaulino commented on #231
Does this `Send and download` button not work?
![image](https://user-images.githubusercontent.com/7649589/174197781-f90f94e2-2e69-497f-9577-0847018aa77c.png)

[2022-06-17 17:47] AaronJWhite commented on #231
“Send and Download” works, but the client crashes after I save the file. I believe Nightingale crashes because it is trying to load the large response into memory so it can show the data in the client.

What I’m suggesting is a way to “send and download” without loading the data preview in the client. The response is just too big and I only need the file.

[2022-06-17 17:51] dpaulino commented on #231
ah gotcha, makes sense!

[2022-06-22 16:36] GregWright-MV commented on #210
I would like to second this request. I would like to have my workspace file on github to share with other users but when I export the workspace git reads it as a 100% file change since the JSON appears to be on a single line.

[2022-07-05 07:17] rctec-at opened #232 "Change Savelocation"
We plan tu use Nightingale Company wide. For this we want to sync the data via OneDrive.

Is there any way we could help to get us the Save location to edit?

[2022-07-06 05:39] John0King opened #233 "Can this app that installed by ms store can connect to localhost by default ?"
I download this app today,  and I find it don'st work with localhost by default ,

if this is true , then can we add a new button on this app  main page (or setting page) that execute a cmd/powershell command for this issue ?

[2022-07-18 09:16] chuthithu opened #235 "https://localhost:3000/api/contacts"

[2022-07-29 09:02] MahdiGhiasi commented on #141
I'm seeing the same behavior @jtippet explained.

Specifically, I was trying to repliacte [Google's FeedFetcher bot](https://developers.google.com/search/docs/advanced/crawling/overview-google-crawlers?visit_id=637946804161970914-3564226070&rd=1#feedfetcher) request which contains a semicolon that is not contained in parantheses.

It is `FeedFetcher-Google; (+http://www.google.com/feedfetcher.html

[2022-07-29 09:35] MahdiGhiasi commented on #147
@dpaulino Thanks for the tip. This mostly solves the issue for me at least.

However, If I also could set the default workspace (that Nightingale opens into) to a custom file, the experience would be more streamlined.

(so I can directly open Nightingale from taskbar instead of right clicking it and opening the synced workspace every time I want to work on my Workspace)

[2022-08-13 05:01] dpaulino commented on #233
For most scenarios, the app will automatically execute the command behind-the-scenes. There are some scenarios, such as if you are not the administrator of your device, when this execution fails. If it's still not working, feel free to run the command manually https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

[2022-08-13 05:01] #233 closed

[2022-08-20 00:50] XChikuX commented on #218
Please support this soon.

[2022-08-31 00:13] Trouffman opened #236 "Allow to clear cache of responses received"
When running faulty request (during testing) some VERY LARGE responses Payload can make the app hang / become unresponsive.

Add an option to launch the app
- without any history of runs (only disabled)
- Clear the cache of the requests

Or simply have this be cleared on exit (Not my preferred option)

[2022-09-07 02:00] Trouffman opened #237 "Exporting collection with SOAP / XML request will not carry the Body/XML content on re-import"
Behavior : When exporting a collection that contains request with _XML_ data in _Body_. That XML content will not be re-imported (and seems extra escaped).

Expected behavior : Export collection. Re-import collection. everything is in there.

How to reproduce :

- [ ] 1. Create a new collection
- [ ] 2. Set to POST.
- [ ] 3. Add XML in the _Body_ (your XML should contains Double-quote, like in : <

[2022-09-12 08:34] aswzen opened #238 "Save history to items"
Currently I have so many request in history tabs, but none of them is in the items list, so how to move request in the history to the items list?

Regards
Sigit

[2022-09-18 11:03] jassent opened #239 "Localhost documentation needs to specify Run as Administrator"
The documentation for getting Nightingale to work on localhost needs to be updated to specify running the loopback command in an Administrative shell.

https://github.com/jenius-apps/nightingale-rest-api-client/blob/master/docs/localhost.md

Here is a suggestion:
"Please run this command in command prompt [using Run as Administrator] after installing Nightingale"

Great software by the way!

[2022-10-11 03:03] John0King opened #240 "Can not use IME in Json editor/xml editor and text editor"
Can not use IME  in Json editor/xml editor  and text editor,  so I can't input chinese characters

[2022-11-01 09:08] Nikeweke opened #241 "In what language was written the application? Is it electron?"

[2022-11-01 18:38] dpaulino commented on #241
Nightingale is written in C# and XAML.

[2022-11-01 18:53] #197 closed

[2022-11-06 07:57] Christoph-Wagner commented on #225
I have the same issue, API calls can take way longer than 100s

[2022-11-11 11:27] #69 closed

[2022-11-11 11:32] #235 closed

[2022-11-11 22:32] #239 closed

[2022-11-21 20:20] aengelhorn opened #242 "Variable chaining with json - not working if content type is not application/json"
I tried to extract a result from an API call to AWS API that returns exotic content type application/x-amz-json-1.1, but body is in fact correct json - example:

[code]

If I try to set an environment variable like *token* with an expression like ```response.Body.AuthenticationResult``` for chaining the resulting string is always empty. Seems that the body is not evaluated as json if the content-t